{% extends 'front/base.html' %}
{% load compress %}
{% load tabs %}

{% block title %}Dokumente{% endblock %}

{% block bodyclass %}document_list{% endblock %}

{% block scripts %}
    {{ block.super }}
    {% compress js %}
        <script src="{{ STATIC_URL }}js/blazy.js"></script>
        <script src="{{ STATIC_URL }}js/jquery-2.1.0.js"></script>
        <script src="{{ STATIC_URL }}js/star-rater.js"></script>
        <script>
            (function() {
                var bLazy = new Blazy();
            })();
        </script>
    {% endcompress %}
{% endblock %}

{% block navigation %}
    {% activetab 'navigation' 'documents' %}
    {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <a href="{% url 'documents:documentcategory_list' %}">Dokumente</a> &raquo; {{ documentcategory.name }}
{% endblock %}

{% block content %}

    <div class="page-header">
        <h1>Dokumente {{ documentcategory.name }}</h1>
    </div>

    <p>Hier finden sich alte Prüfungen, Zusammenfassungen des
    Unterrichtsstoffes und Lernhilfen für die Prüfungen.</p>

    {# No documents message #}
    {% if not documents %}
        <div class="alert-info"><strong>Sorry.</strong> Leider gibt es in dieser Kategorie noch keine Uploads.</div>
    {% endif %}

    {# Add button #}
    {% if user.is_authenticated %}
        <p><a class="button button-primary" href="{% url 'documents:document_add' documentcategory.name|slugify %}">
            <i class="icon-plus-sign icon-white"></i> Dokument hinzufügen
        </a></p>
    {% endif %}

    {# Document list #}
    {% include 'front/blocks/document.html' %}

{% endblock %}
