{% extends 'base.html' %}
{% load tabs %}

{% block title %}Dokument "{{ document.name }}" melden{% endblock %}

{% block navigation %}
    {% activetab 'navigation' 'documents' %}
    {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <a href="{% url 'documents:documentcategory_list' %}">Dokumente</a> &raquo;
    <a href="{% url 'documents:document_list' documentcategory.name|slugify %}">{{ documentcategory.name }}</a> &raquo;
    Dokument melden
{% endblock %}

{% block content %}

    <div class="page-header">
        <h1>Dokument <em>{{ document.name }}</em> melden</h1>
    </div>

    <p>Hier kannst du ein Dokument melden, zB wenn es veraltet ist, sich in der
    falschen Kategorie befindet, o.ä... Bitte begründe die Meldung auf
    nachvollziehbare Weise in der Kommentar-Box. Die Admins werden sich dann
    darum kümmern.</p>

    <form method="POST" class="form-horizontal">{% csrf_token %}
        {% include 'lib/form_loop.html' %}
        <div class="form-actions">
            <button type="submit" class="button button-primary"><i class="icon-ok icon-white"></i> {{ document|yesno:"Speichern,Eintragen" }}</button>
            <a href="{% url 'documents:document_list' documentcategory.name|slugify %}" class="button"><i class="icon-remove"></i> Abbrechen</a>
        </div>
    </form>
{% endblock %}
