{% extends 'front/base.html' %}
{% load tabs %}
{% load tags %}
{% load compress %}
{% load thumbnail %}

{% block title %}Dokumente{% endblock %}

{% block bodyclass %}documentcategory_list{% endblock %}

{% block scripts %}
    {{ block.super }}
    {% compress js %}
        <script src="{{ STATIC_URL }}js/blazy.js"></script>
        <script src="{{ STATIC_URL }}js/list.js"></script>
        <script>
            (function() {
                var bLazy = new Blazy();
                var moduleList = new List('modules', {
                    valueNames: ['name'],
                    page: 9001
                });
                moduleList.on("searchComplete", function() {
                    bLazy.revalidate();
                });
            })();
        </script>
    {% endcompress %}
{% endblock %}

{% block navigation %}
    {% activetab 'navigation' 'documents' %}
    {{ block.super }}
{% endblock %}

{% block content %}
    <section class="document-categories">

    <h1>Dokumente</h1>

    <p>Hier finden sich alte Prüfungen, Zusammenfassungen des Unterrichtsstoffes und Lernhilfen für die Prüfungen.</p>

    {% if user.is_authenticated %}
        <p><a class="button button-primary" href="{% url 'documents:documentcategory_add' %}">
            <i class="icon-plus-sign icon-white"></i> Modul hinzufügen
        </a></p>
    {% endif %}

    {% if categories %}
        <div id="modules">
            <form action="#" class="search-box">
                <input class="search" type="text" placeholder="Modul suchen..." />
                <button type="submit"><span class="icon-magnifying-glass"></span></button>
            </form>

            <div class="list">
            {% for category in categories %}
                    <article class="document-category
                {% if counts|lookup:category.pk|lookup:"total" == 0 %}document-empty{% endif %}">
                        <div class="lecturers">
                            {% for lecturer in category.lecturers.all %}
                            <div>
                                <a class="label" rel="author" href="{% url 'lecturers:lecturer_detail' lecturer.pk|slugify %}">{{ lecturer.abbreviation }}</a>
                                <img class="thumbnail b-lazy" src="{{ STATIC_URL }}img/professor.png" {% if lecturer.photo %}data-src="{% thumbnail lecturer.photo 34x45 crop %}"{% endif %} />
                            </div>
                            {% endfor %}
                        </div>
                        <div class="summary">
                            <div class="labels">
                                {% for course in category.courses.all %}
                                    <span class="label-{{course.abbreviation|slugify}}">{{course.abbreviation}}</span>
                                {% endfor %}
                            </div>
                            <a href="{% url 'documents:document_list' category.name|slugify %}">
                                <h3 class="name"><em class="abbreviation">{{category.name}}</em>{% if category.description %}{{ category.description }}{% endif %}</h3>
                            </a>
                            <ul>
                                {% if counts|lookup:category.pk|lookup:"total" == 0 %}
                                <li>
                                <span class="icon-smilie-sad"></span>In diesem Modul gibt es noch keine Uploads.
                                </li>
                                {% endif %}
                                {% if counts|lookup:category.pk|lookup:"summary" > 0 %}
                                <li>
                                    <span class="icon-doc"></span>{{ counts|lookup:category.pk|lookup:"summary" }} Zusammenfassungen
                                </li>
                                {% endif %}
                                {% if counts|lookup:category.pk|lookup:"exam" > 0 %}
                                <li>
                                    <span class="icon-test"></span>{{ counts|lookup:category.pk|lookup:"exam" }} Prüfungen
                                </li>
                                {% endif %}
                                {% if counts|lookup:category.pk|lookup:"other" > 0 %}
                                <li>
                                    <span class="icon-doc-alt"></span>{{ counts|lookup:category.pk|lookup:"other"}} Andere
                                </li>
                                {% endif %}
                            </ul>
                        </div>
                    </article>
            {% endfor %}
            </div>
        </div>
    {% else %}
        <p><em>Momentan keine Dokumente vorhanden.</em></p>
    {% endif %}
    </section>
{% endblock %}
