{% extends 'front/base.html' %}
{% load tabs %}
{% load tags %}
{% load compress %}

{% block title %}Dokumente{% endblock %}

{% block bodyclass %}documentcategory_list{% endblock %}

{% block scripts %}
    {{ block.super }}
    {% compress js %}
        <script src="{{ STATIC_URL }}js/list.js"></script>

        <script>
            $(function() {
                var options = {
                    valueNames: ['name'],
                    page: 9001
                };

                var contactList = new List('modules', options);
            });
        </script>

    {% endcompress %}
{% endblock %}

{% block navigation %}
    {% activetab 'navigation' 'documents' %}
    {{ block.super }}
{% endblock %}

{% block content %}

    <h1>Dokumente</h1>

    <p>Hier finden sich alte Prüfungen, Zusammenfassungen des Unterrichtsstoffes und Lernhilfen für die Prüfungen.</p>

    {% if user.is_authenticated %}
        <p><a class="button" href="{% url 'documents:documentcategory_add' %}">
            <i class="icon-plus-sign icon-white"></i> Modul hinzufügen
        </a></p>
    {% endif %}

    {% if categories %}
        <div id="modules">
            <form action="#" class="search">
                <input class="search" type="text" placeholder="Modul suchen..." />
                <button type="submit">d</button>
            </form>

            <div class="list">
            {% for category in categories %}
                {% if counts|lookup:category.pk|lookup:"total" == 0 %}
                    <!--<p>Leer</p>-->
                {% else %}
                    <article class="document-category">
                        <div class="lecturers">
                            <div><a class="label" rel="author" href="#">JOL</a></div>
                        </div>

                        <div class="summary">
                            <div class="labels">
                                <span class="label label-blue">I</span>
                                <span class="label label-blublu">E</span>
                            </div>
                            <a href="{% url 'documents:document_list' category.name|slugify %}">
                            <h3 class="name"><em class="abbreviation">{{category.name}}</em>{% if category.description %}{{ category.description }}{% endif %}</h3>
                            </a>
                            <ul>
                                {% if counts|lookup:category.pk|lookup:"summary" > 0 %}
                                <li>
                                    <span class="icon-document"></span><a href="#">{{ counts|lookup:category.pk|lookup:"summary" }} Zusammenfassungen</a>
                                </li>
                                {% endif %}
                                {% if counts|lookup:category.pk|lookup:"exam" > 0 %}
                                <li>
                                    <span class="icon-document"></span><a href="#">{{ counts|lookup:category.pk|lookup:"exam" }} Prüfungen</a>
                                </li>
                                {% endif %}
                                {% if counts|lookup:category.pk|lookup:"other" > 0 %}
                                <li>
                                    <span class="icon-document"></span><a href="#">{{ counts|lookup:category.pk|lookup:"other"}} Andere</a>
                                </li>
                                {% endif %}
                            </ul>
                        </div>
                    </article>
                {% endif %}
            {% endfor %}
            </div>
        </div>
    {% else %}
        <p><em>Momentan keine Dokumente vorhanden.</em></p>
    {% endif %}
{% endblock %}
