{% extends 'base.html' %}
{% load tabs %}

{% block title %}Dokument {{ documentcategory.name }} {{ document|yesno:"bearbeiten,hinzufügen" }}{% endblock %}

{% block navigation %}
    {% activetab 'navigation' 'documents' %}
    {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <a href="{% url 'documents:documentcategory_list' %}">Dokumente</a> &raquo;
    <a href="{% url 'documents:document_list' documentcategory.name|slugify %}">{{ documentcategory.name }}</a> &raquo;
    Dokument {{ document|yesno:"bearbeiten,hinzufügen" }}
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript">
        $(document).ready(function() {
            var field_dtype = $('#id_dtype');
            var field_license = $('#id_license');
            var field_public = $('#id_public');

            // Initial state of "public" and "license" fields
            if (field_dtype.val() == {{ exam_dtype_id|default:-1 }}) {
                field_public.parents('.control-group').addClass('hidden');
                field_public.prop('checked', false);

                field_license.parents('.control-group').addClass('hidden');
                field_license.val('');
            }

            // Show or hide "public" and "license" field on dtype change
            var previous_checked_state = field_public.prop('checked');
            var previous_license = field_license.val();
            field_dtype.change(function() {
                if ($(this).val() == {{ exam_dtype_id|default:-1 }}) {
                    field_public.parents('.control-group').addClass('hidden');
                    previous_checked_state = field_public.prop('checked');
                    field_public.prop('checked', false);

                    field_license.parents('.control-group').addClass('hidden');
                    previous_license = field_license.val();
                    field_license.val('');
                } else {
                    field_public.parents('.control-group').removeClass('hidden');
                    field_public.prop('checked', previous_checked_state);

                    field_license.parents('.control-group').removeClass('hidden');
                    field_license.val(previous_license);
                }
            });
        });
    </script>
{% endblock %}

{% block content %}

    <div class="page-header">
        <h1>Dokument {{ documentcategory.name }} {{ document|yesno:"bearbeiten,hinzufügen" }}</h1>
    </div>

    <form method="POST" enctype="multipart/form-data" class="form-horizontal">{% csrf_token %}
        {% include 'lib/form_loop.html' %}
        <div class="form-actions">
            <button class="button-primary" type="submit"><i class="icon-ok icon-white"></i> {{ document|yesno:"Speichern,Eintragen" }}</button>
            <a href="{% url 'documents:document_list' documentcategory.name|slugify %}" class="button light"><i class="icon-remove"></i> Abbrechen</a>
        </div>
    </form>
{% endblock %}
