{% load compress %}
{% load tabs %}
{% load messagegroups %}
{% load dajaxice_templatetags %}
{% load url from future %}
<!DOCTYPE html>
<html>

<head>
    <title>Studentenportal - {% block title %}Willkommen{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="v1kUQC8l0I-hI9W3O6DeWyUz4zdiliepOwUAP7tkZYE" />
    <link rel="shortcut icon" href="/static/img/favicon.ico" />
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>

    {% dajaxice_js_import %}

    {% block styles %}

        {% compress css %}

        <!-- Libraries -->
        <link rel="stylesheet" href="{{ STATIC_URL }}css/smoothness/jquery-ui-1.8.21.custom.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-responsive.css">

        <!-- Custom styles -->
        <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">

        {% endcompress %}

    {% endblock %}
    
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-1033934-10']);
        _gaq.push(['_trackPageview']);
        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>

</head>

<body class="{% block bodyclass %}{% endblock %}">
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="/">VSHSR Studentenportal</a>
                <div class="nav-collapse">
                    <ul class="nav pull-right">
                        {% if user.is_authenticated %}
                            <li class="dropdown" id="authmenu">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#authmenu">
                                    {{ user.name }}
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="{% url 'profile' %}">Profil</a></li>
                                    <li><a href="{% url 'auth_logout' %}">Logout</a></li>
                                </ul>
                            </li>
                        {% else %}
                            <li><a href="{% url 'auth_login' %}">Login</a></li>
                            <li><a href="{% url 'register' %}">Registrieren</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span3" id="navigation">
                {% block navigation %}
                    <div class="well" style="padding: 8px 0;">
                    <ul class="nav nav-list">

                        <li class="nav-header">
                            Allgemein
                        </li>
                        <li class="{% ifactivetab 'navigation' 'home' %}active{% endifactivetab %}">
                            <a href="{% url 'home' %}"><i class="icon-home {% ifactivetab 'navigation' 'home' %}icon-white{% endifactivetab %}"></i> Home</a>
                        </li>
                        <li class="{% ifactivetab 'navigation' 'events' %}active{% endifactivetab %}">
                            <a href="{% url 'event_list' %}"><i class="icon-calendar {% ifactivetab 'navigation' 'events' %}icon-white{% endifactivetab %}"></i> Events</a>
                        </li>
                        <li class="{% ifactivetab 'navigation' 'tipps' %}active{% endifactivetab %}">
                            <a href="{% url 'tips' %}"><i class="icon-star {% ifactivetab 'navigation' 'tipps' %}icon-white{% endifactivetab %}"></i> Tipps zum Studium</a>
                        </li>
                        <li class="{% ifactivetab 'navigation' 'documents' %}active{% endifactivetab %}">
                            <a href="{% url 'documentcategory_list' %}"><i class="icon-list-alt {% ifactivetab 'navigation' 'documents' %}icon-white{% endifactivetab %}"></i> Dokumente ({{ documentcount }})</a>
                        </li>
                        <!--<li class="{% ifactivetab 'navigation' 'suche' %}active{% endifactivetab %}">
                            <a href="#"><i class="icon-shopping-cart {% ifactivetab 'navigation' 'suche' %}icon-white{% endifactivetab %}"></i> Suche / Biete</a>
                        </li>-->
                        
                        <li class="nav-header">
                            Links
                        </li>
                        <li>
                            <a href="http://hsr.ch"><i class="icon-bookmark"></i> Hochschule für Technik Rapperswil</a>
                        </li>
                        <li>
                            <a href="http://vshsr.ch"><i class="icon-bookmark"></i> VSHSR</a>
                        </li>


                        <li class="nav-header">
                            Studentenbereich
                        </li>
                        {% if user.is_authenticated %}
                            <li class="{% ifactivetab 'navigation' 'lecturers' %}active{% endifactivetab %}">
                                <a href="{% url 'lecturer_list' %}"><i class="icon-user {% ifactivetab 'navigation' 'lecturers' %}icon-white{% endifactivetab %}"></i> Dozenten ({{ lecturercount }})</a>
                            </li>
                            <li class="{% ifactivetab 'navigation' 'quotes' %}active{% endifactivetab %}">
                                <a href="{% url 'quote_list' %}"><i class="icon-volume-up {% ifactivetab 'navigation' 'quotes' %}icon-white{% endifactivetab %}"></i> Zitate ({{ quotecount }})</a>
                            </li>
                            <li class="{% ifactivetab 'navigation' 'stats' %}active{% endifactivetab %}">
                                <a href="{% url 'stats' %}"><i class="icon-signal {% ifactivetab 'navigation' 'stats' %}icon-white{% endifactivetab %}"></i> Statistiken</a>
                            </li>
                        {% else %}
                            <li class="{% ifactivetab 'navigation' 'login' %}active{% endifactivetab %}">
                                <a href="{% url 'auth_login' %}"><i class="icon-user {% ifactivetab 'navigation' 'lecturers' %}icon-white{% endifactivetab %}"></i> Login</a>
                            </li>
                            <li class="{% ifactivetab 'navigation' 'register' %}active{% endifactivetab %}">
                                <a href="{% url 'register' %}"><i class="icon-asterisk {% ifactivetab 'navigation' 'lecturers' %}icon-white{% endifactivetab %}"></i> Registrieren</a>
                            </li>
                        {% endif %}
                    </ul>
                    </div>
                {% endblock %}
            </div>
            <div class="span9" id="content">
                {% render_messages messages %}
                <section id="breadcrumbs">{% block breadcrumbs %}{% endblock %}</section>
                {% block content %}{% endblock %}
            </div>
        </div>
        <div class="row-fluid">
            <hr/>
            <footer>
                Powered by <a href="http://www.vshsr.ch/">VSHSR</a>, <a href="http://gib-solutions.ch/">gib-Solutions AG</a>,
                <a href="https://www.djangoproject.com/">Django</a> and <a href="https://github.com/dbrgn/studentenportal2">Github</a>.
            </footer>
        </div>
    </div>


    {% block scripts %}

        {% compress js %}

        <!-- Libraries -->
        <script src="{{ STATIC_URL }}js/jquery-1.7.1.js"></script>
        <script src="{{ STATIC_URL }}js/bootstrap.js"></script>
        <script src="{{ STATIC_URL }}js/jquery.raty.min.js"></script>
        <script src="{{ STATIC_URL }}js/jquery-ui-1.8.21.custom.min.js"></script>

        <!-- Custom scripts -->
        <script src="{{ STATIC_URL }}js/studentenportal.js"></script>
        <script src="{{ STATIC_URL }}js/raty.js"></script>
        <script src="{{ STATIC_URL }}js/quote_votes.js"></script>

        {% endcompress %}

    {% endblock %}
    
</body>
