{% load assets %}
{% load tabs %}
{% load messagegroups %}
{% load url from future %}
<html>

<head>
    <title>HSR Studentenportal - {% block title %}Willkommen{% endblock %}</title>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    {% assets 'stylesheets' %}<link rel="stylesheet" href="{{ ASSET_URL }}" />{% endassets %}
    {% assets 'scripts' %}<script src="{{ ASSET_URL }}"></script>{% endassets %}
</head>

<body class="{% block bodyclass %}{% endblock %}">
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="/">HSR Studentenportal</a>
                <ul class="nav pull-right">
                    {% if not user.is_authenticated %}
                        <li><a href="{% url 'auth_login' %}">Login</a></li>
                        <li><a href="{% url 'register' %}">Registrieren</a></li>
                    {% else %}
                        <li class="dropdown" id="authmenu">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#authmenu">
                                {{ user.name }}
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'profile' %}">Profile</a></li>
                                <li><a href="{% url 'auth_logout' %}">Logout</a></li>
                            </ul>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="span12" id="header">
            <h1>Studentenportal 2.0</h1>
        </div>
        <div class="row">
            <div class="span3" id="navigation">
                {% block navigation %}
                    <ul class="nav nav-list">
                        <li class="nav-header">
                            Public
                        </li>
                        <li class="{% ifactivetab 'navigation' 'home' %}active{% endifactivetab %}">
                            <a href="{% url 'home' %}">Home</a>
                        </li>
                        <li class="{% ifactivetab 'navigation' 'events' %}active{% endifactivetab %}">
                            <a href="{% url 'event_list' %}">Events</a>
                        </li>
                        <li class="{% ifactivetab 'navigation' 'tipps' %}active{% endifactivetab %}">
                            <a href="{% url 'tips' %}">Tipps zum Studium</a>
                        </li>
                        <li class="{% ifactivetab 'navigation' 'suche' %}active{% endifactivetab %}">
                            <a href="#">Suche / Biete</a>
                        </li>
                        <li class="{% ifactivetab 'navigation' 'documents' %}active{% endifactivetab %}">
                            <a href="{% url 'document_categories' %}">Zusammenfassungen</a>
                        </li>
                        <li class="nav-header">
                            Login-Bereich
                        </li>
                        <li class="{% ifactivetab 'navigation' 'dozenten' %}active{% endifactivetab %}">
                            <a href="{% url 'lecturers' %}">Dozenten</a>
                        </li>
                    </ul>
                {% endblock %}
            </div>
            <div class="span8" id="content">
                {% render_messages messages %}
                <section id="breadcrumbs">{% block breadcrumbs %}{% endblock %}</section>
                {% block content %}{% endblock %}
            </div>
        </div>
        <div class="span12" id="footer">
            Footer. Powered by Django. Source on <a href="https://github.com/gwrtheyrn/studentenportal2">Github</a>.
        </div>
    </div>
</body>
