{% extends 'base.html' %}
{% load tabs %}

{% block bodyclass %}home{% endblock %}

{% block navigation %}
    {% activetab 'navigation' 'home' %}
    {{ block.super }}
{% endblock %}

{% block content %}
<h1>Datenschutzerklärung der open\OST</h1>
<p><strong>Version vom 28.09.2026</strong></p>
<p>
  In dieser Datenschutzerklärung erläutern wir, die open\OST, wie wir
  Personendaten erheben und sonst bearbeiten. Das ist keine abschliessende
  Beschreibung; allenfalls regeln andere Datenschutzerklärungen oder allgemeine
  Geschäftsbedingungen, Teilnahmebedingungen und ähnliche Dokumente spezifische
  Sachverhalte. Unter Personendaten werden alle Angaben verstanden, die sich auf
  eine bestimmte oder bestimmbare Person beziehen.
</p>
<p>
  Wenn Sie uns Personendaten anderer Personen (z.B. Familienmitglieder, Daten
  von Arbeitskollegen) zur Verfügung stellen, stellen Sie bitte sicher, dass
  diese Personen die vorliegende Datenschutzerklärung kennen und teilen Sie uns
  deren Personendaten nur mit, wenn Sie dies dürfen und wenn diese Personendaten
  korrekt sind.
</p>
<p>
  Diese Datenschutzerklärung ist auf die Anforderungen der
  EU-Datenschutz-Grundverordnung ("DSGVO"), das Schweizer Datenschutzgesetz
  ("DSG") und das revidierte Schweizer Datenschutzgesetz ("revDSG") ausgelegt.
  Ob und inwieweit diese Gesetze anwendbar sind, hängt jedoch vom Einzelfall ab.
</p>

<h2>1. Verantwortlicher / Datenschutzbeauftrager / Vertreter</h2>
<p>
  Verantwortlich für die Datenbearbeitungen, die wir hier beschreiben, ist
  Georgiy Shevoroshkin. Wenn Sie datenschutzrechtliche Anliegen haben, können
  Sie uns diese an folgende Kontaktadresse mitteilen: admin@open-ost.ch
</p>
<p>
  Unser Vertreter im EWR nach Art. 27 DSGVO (sofern erforderlich) ist dieselbe
  Person.
</p>

<h2>2. Erhebung und Bearbeitung von Personendaten</h2>
<p>
  Wir bearbeiten in erster Linie die Personendaten, die wir beim Betrieb unserer
  Websites, Apps und weiteren Anwendungen von deren Nutzern erheben.
</p>
<p>
  Nebst den Daten von Ihnen, die Sie uns direkt geben, umfassen die
  Personendaten, die wir über Sie erhalten, Daten im Zusammenhang mit der
  Benutzung der Website (z.B. IP-Adresse, MAC-Adresse des Smartphones oder
  Computers, Angaben zu Ihrem Gerät und Einstellungen, Cookies, Datum und Zeit
  des Besuchs, abgerufene Seiten und Inhalte, benutzte Funktionen, verweisende
  Website, Standortangaben).
</p>
<h2>3. Zwecke der Datenbearbeitung und Rechtsgrundlagen</h2>
<p>
  Wir verwenden die von uns erhobenen Personendaten in erster Linie, um unsere
  Dienstleistungen bereitzustellen und zu verbessern.
</p>
<p>
  Darüber hinaus bearbeiten wir Personendaten von Ihnen, soweit erlaubt und es
  uns als angezeigt erscheint, auch für folgende Zwecke, an denen wir ein dem
  Zweck entsprechendes berechtigtes Interesse haben:
</p>
<ul>
  <li>
    Angebot und Weiterentwicklung unserer Dienstleistungen und
    Websites, Apps und weiteren Plattformen, auf welchen wir präsent sind;
  </li>
  <li>
    Geltendmachung rechtlicher Ansprüche und Verteidigung in Zusammenhang mit
    rechtlichen Streitigkeiten und behördlichen Verfahren;
  </li>
  <li>
    Gewährleistungen unseres Betriebs, insbesondere der IT, unserer Websites,
    Apps und weiteren Plattformen;
  </li>
</ul>
<h2>
  4. Cookies / Tracking und andere Technologien im Zusammenhang mit der Nutzung
  unserer Website
</h2>
<p>
  Wir setzen auf unseren Websites und Apps typischerweise "Cookies" und
  vergleichbare Techniken ein, mit denen Ihr Browser oder Ihr Gerät
  identifiziert werden kann. Ein Cookie ist eine kleine Datei, die an Ihren
  Computer gesendet bzw. vom verwendeten Webbrowser automatisch auf Ihrem
  Computer oder mobilen Gerät gespeichert wird, wenn Sie unsere Website besuchen
  oder App installieren. Wenn Sie diese Website erneut aufrufen oder unsere App
  benutzen, können wir Sie so wiedererkennen, selbst wenn wir nicht wissen, wer
  Sie sind. Neben Cookies, die lediglich während einer Sitzung benutzt und nach
  Ihrem Website-Besuch gelöscht werden ("Session Cookies"), können Cookies auch
  benutzt werden, um Nutzereinstellungen und andere Informationen über eine
  bestimmte Zeit (z.B. zwei Jahre) zu speichern ("permanente Cookies"). Sie
  können Ihren Browser jedoch so einstellen, dass er Cookies zurückweist, nur
  für eine Sitzung speichert oder sonst vorzeitig löscht. Die meisten Browser
  sind so voreingestellt, dass Sie Cookies akzeptieren. Wir nutzen permanente
  Cookies damit Sie Benutzereinstellungen speichern (z.B. Sprache, Autologin)
  und damit wir besser verstehen, wie Sie unsere Angebote und Inhalte nutzen.
  Wenn Sie Cookies sperren, kann es sein, dass gewisse Funktionalitäten nicht 
  mehr funktionieren.
</p>
<p>
  Wir bauen in unseren Newslettern und sonstigen Marketing-E-Mails teilweise und
  soweit erlaubt auch sicht- und unsichtbare Bildelemente ein, durch deren Abruf
  von unseren Servern wir feststellen können, ob und wann Sie die E-Mail
  geöffnet haben, damit wir auch hier messen und besser verstehen können, wie
  Sie unsere Angebote nutzen und sie auf Sie zuschneiden können. Sie können dies
  in Ihrem E-Mail-Programm blockieren; die meisten sind so voreingestellt, dass
  Sie dies tun.
</p>
<p>
  Mit der Nutzung unserer Websites, Apps und der Einwilligung in den Erhalt von
  Newslettern und anderen Marketing-E-Mails stimmen Sie dem Einsatz dieser
  Techniken zu. Wollen Sie dies nicht, dann müssen Sie Ihren Browser bzw. Ihr
  E-Mail-Programm entsprechend einstellen.
</p>
<h2>5. Datenweitergabe</h2>
<p>
  Wir geben im Rahmen unserer geschäftlichen Aktivitäten und der Zwecke gemäss
  Ziff. 3, soweit erlaubt und es uns als angezeigt erscheint, auch Dritten
  bekannt, sei es, weil sie diese für uns bearbeiten, sei es, weil sie sie für
  ihre eigenen Zwecke verwenden wollen. Dabei geht es insbesondere um folgende
  Stellen:
</p>
<ul>
  <li>
    Öffentlichkeit, einschliesslich Besuchern von Websites und sozialer Medien;
  </li>

  <li>Anderen Parteien in möglichen oder tatsächlichen Rechtsverfahren;</li>
</ul>

<h2>6. Dauer der Aufbewahrung von Personendaten</h2>
<p>
  Wir verarbeiten und speichern Ihre Personendaten, solange es für die Erfüllung
  unserer Pflichten oder sonst die mit der Bearbeitung verfolgten Zwecke
  erforderlich ist, d.h. also zum Beispiel für die Dauer der gesamten
  Servicebeziehung sowie darüber hinaus gemäss den gesetzlichen 
  Aufbewahrungs- und Dokumentationspflichten. Dabei ist es möglich, dass Personendaten für die
  Zeit aufbewahrt werden, in der Ansprüche gegen unseren Verein geltend gemacht
  werden können und soweit wir anderweitig gesetzlich dazu verpflichtet sind
  oder berechtigte Interessen dies erfordern (z.B. für Beweis- und
  Dokumentationszwecke). Sobald Ihre Personendaten für die oben genannten Zwecke
  nicht mehr erforderlich sind, werden sie grundsätzlich und soweit möglich
  gelöscht oder anonymisiert. Für betriebliche Daten (z.B. Systemprotokolle,
  Logs), gelten grundsätzliche kürzere Aufbewahrungsfristen von zwölf Monaten
  oder weniger.
</p>
<h2>7. Datensicherheit</h2>
<p>
  Wir treffen angemessene technische und organisatorische
  Sicherheitsvorkehrungen zum Schutz Ihrer Personendaten vor unberechtigtem
  Zugriff und Missbrauch wie etwa der Erlass von Weisungen, IT- und
  Netzwerksicherheitslösungen, Zugangskontrollen und -beschränkungen,
  Verschlüsselung von Datenträgern und Übermittlungen, Pseudonymisierung,
  Kontrollen.
</p>
<h2>8. Profiling und automatisierte Entscheidfindung</h2>
<p>
  Zur Begründung und Durchführung der Dienstleistungen und auch sonst nutzen wir
  grundsätzlich keine vollautomatisierte automatische Entscheidungsfindung (wie
  etwa in Art. 22 DSGVO geregelt). Sollten wir solche Verfahren in Einzelfällen
  einsetzen, werden wir Sie hierüber gesondert informieren, sofern dies
  gesetzlich vorgegeben ist und Sie über die damit zusammenhängenden Rechte
  aufklären.
</p>
<h2>9. Rechte der betroffenen Person</h2>
<p>
  Sie haben im Rahmen des auf Sie anwendbaren Datenschutzrechts und soweit darin
  vorgesehen (wie etwa im Falle der DSGVO) das Recht auf Auskunft, Berichtigung,
  Löschung, das Recht auf Einschränkung der Datenbearbeitung und sonst dem
  Widerspruch gegen unsere Datenbearbeitungen und weiterer berechtigter
  Interessen an der Bearbeitung sowie auf Herausgabe gewisser Personendaten
  zwecks Übertragung an eine andere Stelle (sog. Datenportabilität). Bitte
  beachten Sie aber, dass wir uns vorbehalten, unsererseits die gesetzlich
  vorgesehenen Einschränkungen geltend zu machen, etwa wenn wir zur Aufbewahrung
  oder Bearbeitung gewisser Daten verpflichtet sind, daran ein überwiegendes
  Interesse haben (soweit wir uns darauf berufen dürfen) oder sie für die
  Geltendmachung von Ansprüchen benötigen.
</p>
<p>
  Die Ausübung solcher Rechte setzt in der Regel voraus, dass Sie Ihre Identität
  eindeutig nachweisen (z.B. durch eine Ausweiskopie, wo Ihre Identität sonst
  nicht klar ist bzw. verifiziert werden kann). Zur Geltendmachung Ihrer Rechte
  können Sie uns unter der in Ziffer 1 angegebenen Adresse kontaktieren.
</p>
<p>
  Jede betroffene Person hat überdies das Recht, ihre Ansprüche gerichtlich
  durchzusetzen oder bei der zuständigen Datenschutzbehörde eine Beschwerde
  einzureichen. Die zuständige Datenschutzbehörde der Schweiz ist der
  Eidgenössische Datenschutz- und Öffentlichkeitsbeauftragte
  (<a href="http://www.edoeb.admin.ch">http://www.edoeb.admin.ch</a>).
</p>
<h2>10. Änderungen</h2>
<p>
  Wir können diese Datenschutzerklärung jederzeit ohne Vorankündigung anpassen.
  Es gilt die jeweils aktuelle, auf unserer Website publizierte Fassung. Soweit
  die Datenschutzerklärung Teil einer Vereinbarung mit Ihnen ist, werden wir Sie
  im Falle einer Aktualisierung über die Änderung per E-Mail oder auf andere
  geeignete Weise informieren.
</p>
{% endblock %}
