{% extends 'front/base.html' %}
{% load url from future %}
{% load tabs %}
{% load tags %}

{% block title %}Zusammenfassungen{% endblock %}

{% block bodyclass %}document_list{% endblock %}

{% block navigation %}
    {% activetab 'navigation' 'documents' %}
    {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <a href="{% url 'documentcategory_list' %}">Zusammenfassungen</a> &raquo; {{ documentcategory.name }}
{% endblock %}

{% block content %}

    <div class="page-header">
        <h1>Zusammenfassungen {{ documentcategory.name }}</h1>
    </div>

    <p>Hier finden sich Zusammenfassungen des Unterrichtsstoffes und Lernhilfen für die Prüfungen.</p>

    {# No documents message #}
    {% if not documents %}
        <div class="alert alert-info"><strong>Sorry.</strong> Leider gibt es in dieser Kategorie noch keine Uploads.</div>
    {% endif %}

    {# Add button #}
    {% if user.is_authenticated %}
        <p><a class="btn" href="{% url 'document_add' documentcategory.name|slugify %}">
            <i class="icon-plus-sign"></i> Zusammenfassung hinzufügen
        </a></p>
    {% endif %}

    {# Document list #}
    {% if documents %}
        <table id="documents" class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Download</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for doc in documents %}
                    <tr>
                        <td>
                            <div class="titlerow">
                                <h4>{{ doc.name }}</h4>
                                <p>by <a href="{% url 'user' doc.uploader.pk doc.uploader.username|slugify %}">{{ doc.uploader.name }}</a></p>
                            </div>
                            <p>
                                {% if doc.upload_date %}
                                    (<em>{{ doc.upload_date|date:"d.m.Y" }}</em>)
                                {% endif %}
                                {{ doc.description|urlize }}
                            </p>
                            {% if user.is_authenticated %}
                                <div class="drating floatleft" data-readonly="{% if doc.uploader = user %}1{% else %}0{% endif %}"
                                    data-url="{% url 'document_rate' documentcategory.name|slugify doc.pk %}"
                                    data-rating="{{ ratings|lookup:doc.pk }}"></div> <span>{{ doc.DocumentRating.count }} Bewertung{{ doc.DocumentRating.count|pluralize:"en" }}</span>
                            {% endif %}
                        </td>
                        <td>
                            {% if doc.exists %}
                                <a href="{% url 'document_download' documentcategory.name|slugify doc.pk %}" class="file-{{ doc.fileext }}" title="{{ doc.filename }}">
                                    {{ doc.filename|truncatechars:20 }}
                                </a><br>
                                ({{ doc.document.size|filesizeformat }})<br>
                            {% else %}
                                <p><em>Datei nicht verfügbar</em></p>
                            {% endif %}
                            <p>{{ doc.downloadcount }} Download{{ doc.downloadcount|pluralize:"s" }}</p></td>
                        <td>
                            {% if doc.uploader = user %}
                                <p>
                                    <a class="btn" title="Edit" href="{% url 'document_edit' documentcategory.name|slugify doc.pk %}">
                                        <i class="icon-pencil"></i>
                                    </a>
                                    <a class="btn btn-danger" title="Delete" href="{% url 'document_delete' documentcategory.name|slugify doc.pk %}">
                                        <i class="icon-trash icon-white"></i>
                                    </a>
                                </p>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    
{% endblock %}
