{% extends 'front/base.html' %}
{% load tabs %}

{% block title %}Dokument "{{ document.name }}" löschen{% endblock %}

{% block navigation %}
    {% activetab 'navigation' 'documents' %}
    {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <a href="{% url 'documentcategory_list' %}">Dokumente</a> &raquo;
    <a href="{% url 'document_list' documentcategory.name|slugify %}">{{ documentcategory.name }}</a> &raquo;
    Dokument löschen
{% endblock %}

{% block content %}

    <div class="page-header">
        <h1>Dokument "{{ document.name }}" löschen</h1>
    </div>

    <p>Möchtest du wirklich das Dokument "{{ document.name }}" aus der Datenbank löschen?</p>

    <form method="post">{% csrf_token %}
        <button type="submit" class="btn btn-danger"><i class="icon-trash icon-white"></i> Ja, ich bin sicher.</button>
        <a href="{% url 'document_list' documentcategory.name|slugify %}" class="btn">Nein, abbrechen!</a>
    </form>

{% endblock %}
