{% extends 'front/base.html' %}
{% load url from future %}
{% load tabs %}
{% load tags %}

{% block title %}Zusammenfassungen{% endblock %}

{% block navigation %}
    {% activetab 'navigation' 'documents' %}
    {{ block.super }}
{% endblock %}

{% block content %}

    <h1>Zusammenfassungen</h1>
    
    <p>Hier finden sich Zusammenfassungen des Unterrichtsstoffes und Lernhilfen für die Prüfungen.</p>

    {% if user.is_authenticated %}
        <p><a class="btn" href="{% url 'documentcategory_add' %}">
            <i class="icon-plus-sign"></i> Modul hinzufügen
        </a></p>
    {% endif %}

    {% if object_list %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Modul</th>
                    <th>Anzahl Dokumente</th>
                </tr>
            </thead>
            <tbody>
                {% for category in object_list %}
                    <tr>
                        <td><a href="{% url 'document_list' category.name|slugify %}">
                            <strong>{{ category.name }}</strong>
                            {% if category.description %}{{ category.description }}{% endif %}
                        </td>
                        <td>{{ category.Document.count }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

{% endblock %}
