{% extends 'front/base.html' %}
{% load url from future %}
{% load tabs %}
{% load tags %}
{% load compress %}

{% block title %}Dokumente{% endblock %}

{% block bodyclass %}documentcategory_list{% endblock %}

{% block scripts %}
    {{ block.super }}
    {% compress js %}
        <script src="{{ STATIC_URL }}js/list.js"></script>

        <script>
            $(function() {
                var options = {
                    valueNames: ['name', 'summary_count', 'exam_count', 'other_count'],
                    page: 9001
                };

                var contactList = new List('modules', options);
            });
        </script>

    {% endcompress %}
{% endblock %}

{% block navigation %}
    {% activetab 'navigation' 'documents' %}
    {{ block.super }}
{% endblock %}

{% block content %}

    <div class="page-header">
        <h1>Dokumente</h1>
    </div>

    <p>Hier finden sich alte Prüfungen, Zusammenfassungen des Unterrichtsstoffes und Lernhilfen für die Prüfungen.</p>

    {% if user.is_authenticated %}
        <p><a class="btn btn-primary" href="{% url 'documentcategory_add' %}">
            <i class="icon-plus-sign icon-white"></i> Modul hinzufügen
        </a></p>
    {% endif %}

    {% if object_list %}
        <div id="modules">
            <div class="input input-append">
                <input class="search" placeholder="Modul suchen...">
                <span class="add-on"><i class="icon-search"></i></span>
            </div>


            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="sort asc" data-sort="name">Modul</th>
                        <th class="sort" data-sort="summary_count">Zusammenfassungen</th>
                        <th class="sort" data-sort="exam_count">Prüfungen</th>
                        <th class="sort" data-sort="other_count">Andere</th>
                    </tr>

                </thead>
                <tbody class="list">
                    {% for category in object_list %}
                        <tr {% if category.Document.count == 0 %}class="empty"{% endif %}>
                            <td class="name"><a href="{% url 'document_list' category.name|slugify %}">
                                <strong>{{ category.name }}</strong>
                                {% if category.description %}{{ category.description }}{% endif %}
                            </td>
                            <td class="summary_count">{{ category.summary_count }}</td>
                            <td class="exam_count">{{ category.exam_count }}</td>
                            <td class="other_count">{{ category.other_count }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p><em>Momentan keine Dokumente vorhanden.</em></p>
    {% endif %}
{% endblock %}
