{% extends 'front/base.html' %}
{% load url from future %}
{% load tabs %}

{% block title %}{{ event.summary }}{% endblock %}

{% block navigation %}
    {% activetab 'navigation' 'events' %}
    {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <a href="{% url 'event_list' %}">Events</a> &raquo; {{ event.summary }}
{% endblock %}

{% block content %}

    <div class="page-header">
        <h1>{{ event.summary }}</h1>
    </div>

    <p><em>Erfasst von:
        {% if event.author %}
            <a href="{% url 'user' event.author.pk event.author.username|slugify %}">{{ event.author.username }}</a>
        {% else %}
            Gelöschter User
        {% endif %}
    </em></p>
    
    {{ event.description|linebreaks }}

    <ul class="blacklist unstyled">
        <li><strong>Start:</strong> {{ event.start_date }} {{ event.start_time|time:"H:i" }}</li>
        {% if event.end_date or event.end_time %}
            <li><strong>Ende:</strong>
                {% if event.end_date %}{{ event.end_date }} {{ event.end_time|time:"H:i" }}{% endif %}
                {% if not event.end_date %}{{ event.start_date }} {{ event.end_time|time:"H:i" }}{% endif %}
            </li>
        {% endif %}
    </ul>

    {% if event.author = user %}
    <p>
        <a href="{% url 'event_edit' event.pk %}" class="btn"><i class="icon-pencil"></i> Bearbeiten</a>
        <a href="{% url 'event_delete' event.pk %}" class="btn btn-danger"><i class="icon-trash icon-white"></i> Löschen</a>
    </p>
    {% endif %}

{% endblock %}
