{% extends 'front/base.html' %}
{% load url from future %}
{% load tabs %}

{% block title %}Event löschen{% endblock %}

{% block navigation %}
    {% activetab 'navigation' 'events' %}
    {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <a href="{% url 'event_list' %}">Events</a> &raquo; <a href="{% url 'event_detail' event.pk %}">{{ event.summary }}</a> &raquo; Löschen
{% endblock %}

{% block content %}

    <h1>Event löschen</h1>

    <p>Möchtest du wirklich den Event "{{ event.summary }}" aus der Datenbank löschen?</p>

    <form method="post">{% csrf_token %}
        <button type="submit" class="btn btn-danger"><i class="icon-trash icon-white"></i> Ja, ich bin sicher.</button>
        <a href="{% url 'event_detail' event.pk %}" class="btn">Nein, abbrechen!</a>
    </form>

{% endblock %}
