{% extends 'base.html' %}
{% load url from future %}
{% load tabs %}

{% block title %}Event erfassen{% endblock %}

{% block navigation %}
    {% activetab 'navigation' 'events' %}
    {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <a href="{% url 'event_list' %}">Events</a> &raquo; Event erfassen
{% endblock %}

{% block content %}

    <h2>Event erfassen</h2>

    <form method="POST" class="form-stacked noleftpadding">{% csrf_token %}
        {% include 'lib/form_loop.html' %}
        <div class="actions">
            <input type="submit" value="Eintragen" class="btn primary" />
            <button type="reset" class="btn">Löschen</button>
        </div>
    </form>
{% endblock %}
