{% extends 'front/base.html' %}
{% load url from future %}
{% load tabs %}

{% block title %}Event {{ event|yesno:"bearbeiten,erfassen" }}{% endblock %}

{% block navigation %}
    {% activetab 'navigation' 'events' %}
    {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <a href="{% url 'event_list' %}">Events</a> &raquo; Event {{ event|yesno:"bearbeiten,erfassen" }}
{% endblock %}

{% block content %}

    <div class="page-header">
        <h1>Event {{ event|yesno:"bearbeiten,erfassen" }}</h1>
    </div>

    <form method="POST" enctype="multipart/form-data" class="form-horizontal">{% csrf_token %}
        {% include 'lib/form_loop.html' %}
        <div class="form-actions">
            <button type="submit" class="btn btn-primary"><i class="icon-ok icon-white"></i> {{ event|yesno:"Speichern,Eintragen" }}</button>
            {% if event %}
                <a href="{% url 'event_detail' event.pk %}" class="btn"><i class="icon-remove"></i> Abbrechen</a>
            {% else %}
                <a href="{% url 'event_list' %}" class="btn"><i class="icon-remove"></i> Abbrechen</a>
            {% endif %}
        </div>
    </form>
{% endblock %}
