{% extends 'front/base.html' %}
{% load url from future %}
{% load tabs %}

{% block title %}Events{% endblock %}

{% block navigation %}
    {% activetab 'navigation' 'events' %}
    {{ block.super }}
{% endblock %}

{% block content %}

    <h2>Events</h2>
    
    <p>Hier können Termine rund ums Studentenleben gepostet werden, wie zB Bars, Vereinsveranstaltungen etc...</p>

    {% if user.is_authenticated %}
        <p><a class="btn" href="{% url 'event_add' %}">
            <i class="icon-plus-sign"></i> Event hinzufügen
        </a></p>
    {% endif %}

    <h3>Kommende Veranstaltungen</h3>

    {% if not events_future %}
        <p class="alert"><strong>Epic Fail:</strong> Es wurden keine zukünftigen Events gefunden.</p>
    {% else %}
        {% with events_future as object_list %}
            {% include 'front/blocks/event_table.html' %}
        {% endwith %}
    {% endif %}

    <h3>Vergangene Veranstaltungen</h3>

    {% if not events_past %}
        <p class="alert"><strong>Epic Fail:</strong> Es wurden keine vergangenen Events gefunden.</p>
    {% else %}
        {% with events_past as object_list %}
            {% include 'front/blocks/event_table.html' %}
        {% endwith %}
    {% endif %}

{% endblock %}
