{% extends 'front/base.html' %}
{% load url from future %}
{% load tabs %}

{% block title %}Events{% endblock %}

{% block navigation %}
    {% activetab 'navigation' 'events' %}
    {{ block.super }}
{% endblock %}

{% block content %}

    <div class="page-header">
        <h1>Events</h1>
    </div>
    
    <p>Hier können Termine rund ums Studentenleben gepostet werden, wie zB Bars, Vereinsveranstaltungen etc...</p>

    {% if user.is_authenticated %}
        <p><a class="btn" href="{% url 'event_add' %}">
            <i class="icon-plus-sign"></i> Event hinzufügen
        </a></p>
    {% endif %}

    <h2>Kommende Veranstaltungen</h2>

    {% if not events_future %}
        <p><em>Es wurden keine zukünftigen Events gefunden.</em></p>
    {% else %}
        {% with events_future as object_list %}
            {% include 'front/blocks/event_table.html' %}
        {% endwith %}
    {% endif %}

    <h2>Vergangene Veranstaltungen</h2>

    {% if not events_past %}
        <p><em>Es wurden keine vergangenen Events gefunden.</em></p>
    {% else %}
        {% with events_past as object_list %}
            {% include 'front/blocks/event_table.html' %}
        {% endwith %}
    {% endif %}

{% endblock %}
