{% extends 'front/base.html' %}
{% load url from future %}
{% load tabs %}

{% block title %}{{ lecturer.name }}{% endblock %}

{% block navigation %}
    {% activetab 'navigation' 'lecturers' %}
    {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <a href="{% url 'lecturer_list' %}">Dozenten</a> &raquo; {{ lecturer.name }}
{% endblock %}

{% block content %}

    <div class="page-header">
        <h1>{{ lecturer.name }}</h1>
    </div>

    <img class="thumbnail quimby_search_image floatright"
    {% if lecturer.photo %} src="{{ lecturer.photo }}"{% endif %}
    {% if not lecturer.photo %} src="http://placehold.it/120x160"{% endif %}
    width="120" height="160">

    <p>{{ lecturer.description|default:"Keine Beschreibung erfasst." }}</p>

    <h2 id="profil">Profil</h2>
    <ul>
        <li>Kürzel: {{ lecturer.abbreviation }}</li>
        {% if lecturer.department %}<li>Abteilung: {{ lecturer.department }}</li>{% endif %}
        {% if lecturer.function %}<li>Funktion: {{ lecturer.function }}</li>{% endif %}
        {% if lecturer.main_area %}<li>Fachschwerpunkt: {{ lecturer.main_area }}</li>{% endif %}
        {% if lecturer.subjects %}<li>Fächer: {{ lecturer.subjects }}</li>{% endif %}
        {% if lecturer.office %}<li>Büro: {{ lecturer.office }}</li>{% endif %}
        {% if lecturer.email %}<li>Email: {{ lecturer.email }}</li>{% endif %}
    </ul>

    <h2 id="bewertungen">Bewertungen</h2>

    <p><strong>Didaktisch</strong></p>
    <div id="lrating-d"></div> 

    <p><strong>Menschlich</strong></p>
    <div id="lrating-m"></div> 

    <p><strong>Fachlich</strong></p>
    <div id="lrating-f"></div> 

    <br><br><br><br>
    <ul>
        <li>Didaktisch: <span class="label label-important">{{ lecturer.avg_rating_d }}</span></li>
        <li>Menschlich: <span class="label label-success">{{ lecturer.avg_rating_m }}</span></li>
        <li>Fachlich: <span class="label label-warning">{{ lecturer.avg_rating_f }}</span></li>
    </ul>


    <h2 id="zitate">Zitate</h2>

    {% if not quotes %}
        <p><em>Keine Zitate gefunden.</em></p>
    {% endif %}

    <p><a class="btn" href="{% url 'lecturer_quote_add' lecturer.pk %}">
        <i class="icon-plus-sign"></i> Zitat hinzufügen
    </a></p>

    {% if quotes %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Zitat</th>
                    <th>Bemerkung</th>
                    <th>Eingetragen</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for quote in quotes %}
                    <tr>
                        <td>{{ quote.quote }}</td>
                        <td>{{ quote.comment }}</td>
                        <td>{{ quote.date|date:"d.m.Y" }}</td>
                        <td>
                            {% if quote.author = user %}
                                {% include 'front/blocks/quote_delete_button.html' with small_button=1 %}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

{% endblock %}
