{% extends 'front/base.html' %}
{% load url from future %}
{% load tabs %}
{% load tags %}

{% block title %}Dozenten{% endblock %}

{% block bodyclass %}lecturer_list{% endblock %}

{% block navigation %}
    {% activetab 'navigation' 'lecturers' %}
    {{ block.super }}
{% endblock %}

{% block content %}

    <div class="page-header">
        <h1>Unsere Dozenten</h1>
    </div>

    <p>Wir versuchen euch mit dieser Übersicht die Dozenten der HSR vorzustellen, sowie Tipps und
    Tricks zum Umgang mit ihnen und zu den Vorlesungen zu geben.</p>

    <p>Neben den Bewertungen können auch Zitate aus dem Unterricht hinzugefügt werden. Wichtig: 
    Die Zitate sollten witzig sein und eine versehentliche Bemerkung oder eine typische Eigenschaft
    des Dozenten beschreiben und dürfen nicht bösartig oder ehrverletzend sein!</p>

    <p>Falls sich ein Dozent durch ein Zitat angegriffen fühlt, wird dieses gelöscht.</p>

    <p>Legende für Bewertungen: <span class="label label-important">didaktisch</span>, <span class="label label-success">menschlich</span>, <span class="label label-warning">fachlich</span></p>

    <hr>

    <h3>Dozenten mit "{{ letter.upper }}"</h3>

    <div class="btn-group" id="letters">
        <a class="btn {% if letter = 'a' %}active{% endif %}" href="{% url 'lecturer_list_letter' 'a' %}">a</a>
        <a class="btn {% if letter = 'b' %}active{% endif %}" href="{% url 'lecturer_list_letter' 'b' %}">b</a>
        <a class="btn {% if letter = 'c' %}active{% endif %}" href="{% url 'lecturer_list_letter' 'c' %}">c</a>
        <a class="btn {% if letter = 'd' %}active{% endif %}" href="{% url 'lecturer_list_letter' 'd' %}">d</a>
        <a class="btn {% if letter = 'e' %}active{% endif %}" href="{% url 'lecturer_list_letter' 'e' %}">e</a>
        <a class="btn {% if letter = 'f' %}active{% endif %}" href="{% url 'lecturer_list_letter' 'f' %}">f</a>
        <a class="btn {% if letter = 'g' %}active{% endif %}" href="{% url 'lecturer_list_letter' 'g' %}">g</a>
        <a class="btn {% if letter = 'h' %}active{% endif %}" href="{% url 'lecturer_list_letter' 'h' %}">h</a>
        <a class="btn {% if letter = 'i' %}active{% endif %}" href="{% url 'lecturer_list_letter' 'i' %}">i</a>
        <a class="btn {% if letter = 'j' %}active{% endif %}" href="{% url 'lecturer_list_letter' 'j' %}">j</a>
        <a class="btn {% if letter = 'k' %}active{% endif %}" href="{% url 'lecturer_list_letter' 'k' %}">k</a>
        <a class="btn {% if letter = 'l' %}active{% endif %}" href="{% url 'lecturer_list_letter' 'l' %}">l</a>
        <a class="btn {% if letter = 'm' %}active{% endif %}" href="{% url 'lecturer_list_letter' 'm' %}">m</a>
        <a class="btn {% if letter = 'n' %}active{% endif %}" href="{% url 'lecturer_list_letter' 'n' %}">n</a>
        <a class="btn {% if letter = 'o' %}active{% endif %}" href="{% url 'lecturer_list_letter' 'o' %}">o</a>
        <a class="btn {% if letter = 'p' %}active{% endif %}" href="{% url 'lecturer_list_letter' 'p' %}">p</a>
        <a class="btn {% if letter = 'q' %}active{% endif %}" href="{% url 'lecturer_list_letter' 'q' %}">q</a>
        <a class="btn {% if letter = 'r' %}active{% endif %}" href="{% url 'lecturer_list_letter' 'r' %}">r</a>
        <a class="btn {% if letter = 's' %}active{% endif %}" href="{% url 'lecturer_list_letter' 's' %}">s</a>
        <a class="btn {% if letter = 't' %}active{% endif %}" href="{% url 'lecturer_list_letter' 't' %}">t</a>
        <a class="btn {% if letter = 'u' %}active{% endif %}" href="{% url 'lecturer_list_letter' 'u' %}">u</a>
        <a class="btn {% if letter = 'v' %}active{% endif %}" href="{% url 'lecturer_list_letter' 'v' %}">v</a>
        <a class="btn {% if letter = 'w' %}active{% endif %}" href="{% url 'lecturer_list_letter' 'w' %}">w</a>
        <a class="btn {% if letter = 'x' %}active{% endif %}" href="{% url 'lecturer_list_letter' 'x' %}">x</a>
        <a class="btn {% if letter = 'y' %}active{% endif %}" href="{% url 'lecturer_list_letter' 'y' %}">y</a>
        <a class="btn {% if letter = 'z' %}active{% endif %}" href="{% url 'lecturer_list_letter' 'z' %}">z</a>
    </div>
    
    {% for lecturer in lecturers %}
        {% if forloop.counter0|divisibleby:"3" %}<div class="row-fluid">{% endif %}
            <div class="lecturer span4">
                <h4><a href="{% url 'lecturer_detail' lecturer.pk %}">{{ lecturer.name }}</a></h4>
                <a href="{% url 'lecturer_detail' lecturer.pk %}"><img class="thumbnail quimby_search_image" src="
                    {% if lecturer.photo %}{{ lecturer.photo }}{% else %}http://placehold.it/120x160{% endif %}
                "></a>
                {% with quotecounts|lookup:lecturer.pk|default:0 as quotecount %}
                <p><span class="label"><a href="{% url 'lecturer_detail' lecturer.pk %}#zitate">{{ quotecount }} Zitat{{ quotecount|pluralize:"e" }}</a></span>
                       <span class="label label-important">{{ lecturer.avg_rating_d|default:'-' }}</span>
                       <span class="label label-success">{{ lecturer.avg_rating_m|default:'-' }}</span>
                       <span class="label label-warning">{{ lecturer.avg_rating_f|default:'-' }}</span></p>
               {% endwith %}
            </div>
        {% if forloop.counter|divisibleby:"3" %}</div>{% endif %}
    {% endfor %}

    {% if not lecturers %}
        <p><em>Keine passenden Dozenten gefunden.</em></p>
    {% endif %}

{% endblock %}
