{% extends 'front/base.html' %}
{% load tabs %}
{% load thumbnail %}
{% load compress %}

{% block title %}{{ lecturer.name }}{% endblock %}

{% block bodyclass %}lecturer_detail{% endblock %}

{% block navigation %}
    {% activetab 'navigation' 'lecturers' %}
    {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <a href="{% url 'lecturer_list' %}">Dozenten</a> &raquo; {{ lecturer.name }}
{% endblock %}

{% block scripts %}
    {{ block.super }} 
    {% compress js %}
        <script type="text/javascript">
            $(document).ready(function() {
                $('.oldphotos img').click(function() {
                    var path = $(this).attr('data-path');
                    $('.pictures>img.thumbnail').addClass('hidden');
                    $('.pictures>img.thumbnail[data-path="' + path + '"]').removeClass('hidden');
                });
            });
        </script>
    {% endcompress %}
{% endblock %}

{% block content %}

    <div class="page-header">
        <h1 class="lecturer-name" data-lecturer-pk="{{ lecturer.pk }}">{{ lecturer.name }}</h1>
    </div>

    <div class="pictures floatright">

        {# Main lecturer picture #}
        <img class="thumbnail" data-path="{{ lecturer.photo|default:'' }}"
        {% if lecturer.photo %} src="{% thumbnail lecturer.photo 120x160 crop %}"{% endif %}
        {% if not lecturer.photo %} src="{{ STATIC_URL }}img/120x160.gif"{% endif %}
        width="120" height="160">

        {# Old lecturer pictures (initially hidden) #}
        {% for photo in lecturer.oldphotos %}
            <img class="thumbnail hidden" data-path="{{ photo }}"
            src="{% thumbnail photo 120x160 crop %}" width="120" height="160">
        {% endfor %}

        {# Small thumbnails #}
        {% if lecturer.oldphotos %}
            <div class="oldphotos">
                <img class="floatright" data-path="{{ lecturer.photo }}"
                src="{% thumbnail lecturer.photo 36x36 crop %}">
                {% for photo in lecturer.oldphotos %}
                    <img class="floatright" data-path="{{ photo }}"
                    src="{% thumbnail photo 36x36 crop %}" width="36" height="36">
                {% endfor %}
            </div>
        {% endif %}

    </div>

    {#<p>{{ lecturer.description|default:"Keine Beschreibung erfasst." }}</p>#}

    <h2 id="profil">Profil</h2>
    <ul>
        <li>Kürzel: {{ lecturer.abbreviation }}</li>
        {% if lecturer.department %}<li>Abteilung: {{ lecturer.department }}</li>{% endif %}
        {% if lecturer.function %}<li>Funktion: {{ lecturer.function }}</li>{% endif %}
        {% if lecturer.main_area %}<li>Fachschwerpunkt: {{ lecturer.main_area }}</li>{% endif %}
        {% if lecturer.subjects %}<li>Fächer: {{ lecturer.subjects }}</li>{% endif %}
        {% if lecturer.office %}<li>Büro: {{ lecturer.office }}</li>{% endif %}
        {% if lecturer.email %}<li>Email: {{ lecturer.email|urlize }}</li>{% endif %}
    </ul>


    <h2 id="bewerten">Bewerten</h2>

    <ul id="rate">
        <li>
        <span class="label label-important lrating-d-avg" title="{{ lecturer.rating_count_d }} Bewertung{{ lecturer.rating_count_d|pluralize:"en" }}">
                {{ lecturer.avg_rating_d|default:'-' }}
            </span>
            <p>Didaktisch</p>
            <div id="lrating-d" data-rating="{{ rating_d|default:0 }}"></div>
        </li>
        <li>
        <span class="label label-success lrating-m-avg" title="{{ lecturer.rating_count_m }} Bewertung{{ lecturer.rating_count_m|pluralize:"en" }}">
                {{ lecturer.avg_rating_m|default:'-' }}
            </span>
            <p>Menschlich</p>
            <div id="lrating-m" data-rating="{{ rating_m|default:0 }}"></div>
        </li>
        <li>
            <span class="label label-info lrating-f-avg" title="{{ lecturer.rating_count_f }} Bewertung{{ lecturer.rating_count_f|pluralize:"en" }}">
                {{ lecturer.avg_rating_f|default:'-' }}
            </span>
            <p>Fachlich</p>
            <div id="lrating-f" data-rating="{{ rating_f|default:0 }}"></div>
        </li>
    </ul>



    <h2 id="zitate">Zitate</h2>

    {% if not quotes %}
        <p><em>Keine Zitate gefunden.</em></p>
    {% endif %}

    <p><a class="btn btn-primary" href="{% url 'lecturer_quote_add' lecturer.pk %}">
        <i class="icon-plus-sign icon-white"></i> Zitat hinzufügen
    </a></p>

    {% if quotes %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Vote</th>
                    <th>Zitat</th>
                    <th>Bemerkung</th>
                    <th>Eingetragen</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for quote in quotes %}
                    <tr>
                        <td>
                            {% include 'front/blocks/vote_buttons.html' %}
                        </td>
                        <td>{{ quote.quote }}</td>
                        <td>{{ quote.comment }}</td>
                        <td>{% if not quote.date_available %}-{% else %}{{ quote.date|date:"d.m.Y H:i" }}{% endif %}</td>
                        <td>
                            {% if quote.author = user %}
                                {% include 'front/blocks/quote_delete_button.html' with small_button=1 %}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

{% endblock %}
