{% extends 'base.html' %}
{% load tabs %}

{% block content %}
    <div class="page-header">
        <h1>Benutzerprofil bearbeiten</h1>
    </div>

    <p>Hier kannst du deine Profildaten bearbeiten. Vorname und Nachname sind
    freiwillig, werden aber häufig anstelle des Benutzernamens angezeigt,
    sofern vorhanden.</p>

    <p>Deine E-Mail-Adresse kann nicht von dir selber bearbeitet werden. Falls
    du sie ändern möchtest (z.B. um nach dem Studium weiterhin Zugang zum
    Studentenportal zu haben), kontaktieren einen Admin unter
    <a href="mailto:team@studentenportal.ch">team@studentenportal.ch</a>.</p>

    <p>Möchtest du dein Passwort ändern? Das kannst du <a href="{% url 'auth_password_change' %}">hier</a> tun.</p>

    <br>

    <form class="form-horizontal" method="post" action="{% url 'profile' %}">
        {% csrf_token %}
        {% include 'lib/form_loop.html' %}

        <button class="button button-primary" type="submit">Änderungen speichern</button>
        <input type="hidden" name="next" value="{{ next }}">
    </form>

{% endblock %}
