{% extends 'front/base.html' %}
{% load tabs %}
{% load url from future %}

{% block content %}
    <div class="page-header">
        <h1>Benutzerprofil bearbeiten</h1>
    </div>

    <p>Hier kannst du deine Profildaten bearbeiten. Vorname und Nachname sind
    freiwillig, werden aber häufig anstelle des Benutzernamens angezeigt,
    sofern vorhanden. Der Twitter-Benutzername wird zB benutzt, um alle Tweets
    von HSR-Studenten auflisten zu können. Falls angegeben, wird dein <a
    href="https://flattr.com/">Flattr</a>- Benutzername verwendet um bei
    deinen Zusammenfassungen jeweils einen Spende-Button anzuzeigen.</p>

    <br>

    <form method="post" action="{% url 'profile' %}">
        {% csrf_token %}
        {% include 'lib/form_loop.html' %}
            
        <input type="submit" value="Änderungen speichern" class="btn btn-primary">
        <input type="hidden" name="next" value="{{ next }}">
    </form>

    <p>Möchtest du dein Passwort ändern? Das kannst du <a href="{% url 'auth_password_change' %}">hier</a> tun.</p>
{% endblock %}
