{% extends 'front/base.html' %}
{% load url from future %}
{% load tabs %}

{% block title %}Zitate{% endblock %}

{% block navigation %}
    {% activetab 'navigation' 'quotes' %}
    {{ block.super }}
{% endblock %}

{% block content %}

    <div class="page-header">
        <h1>Zitate</h1>
    </div>

    <p>Die neusten Zitate oder typische Eigenheiten von Dozenten.</p>

    <p>Um alle Zitate eines bestimmten Dozenten zu sehen, einfach das jeweilige
    Profil ansehen.</p>

    {% if user.is_authenticated %}
        <p><a class="btn" href="{% url 'quote_add' %}">
            <i class="icon-plus-sign"></i> Zitat hinzufügen
        </a></p>
    {% endif %}

    {% if quotes %}
    
    <ul class="nav btn-group">
        {% for page in paginator.page_range %}
            <li class="btn {% if page_obj.number == page %}active{% endif %}"><a href="?page={{ page }}">{{ page }}</a></li>
        {% endfor %}
    </ul>
    
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Eingetragen</th>
                    <th>Dozent</th>
                    <th>Zitat</th>
                    <th>Bemerkung</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for quote in quotes %}
                    <tr>
                        <td>{{ quote.date|date:"d.m.Y H:i" }}</td>
                        <td><a href="{% url 'lecturer_detail' quote.lecturer.pk %}">{{ quote.lecturer }}</a></td>
                        <td>{{ quote.quote|linebreaksbr }}</td>
                        <td>{{ quote.comment|linebreaksbr }}</td>
                        <td>
                            {% if quote.author = user %}
                                {% include 'front/blocks/quote_delete_button.html' with small_button=1 %}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p><em>Keine Zitate gefunden.</em></p>
    {% endif %}

{% endblock %}
