{% extends 'front/base.html' %}
{% load url from future %}
{% load tabs %}

{% block title %}Zitat hinzufügen{% endblock %}

{% block navigation %}
    {% if lecturer %}
        {% activetab 'navigation' 'lecturers' %}
    {% else %}
        {% activetab 'navigation' 'quotes' %}
    {% endif %}
    {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    {% if lecturer %}
        <a href="{% url 'lecturer_detail' lecturer.pk %}">{{ lecturer.name }}</a> &raquo; Zitat hinzufügen
    {% else %}
        <a href="{% url 'quote_list' %}">Zitate</a> &raquo; Zitat hinzufügen
    {% endif %}
{% endblock %}

{% block content %}

    <div class="page-header">
        <h1>Zitat hinzufügen</h1>
    </div>

    <form method="POST" class="form-horizontal">{% csrf_token %}
        {% include 'lib/form_loop.html' %}
        <div class="form-actions">
            <button type="submit" class="btn btn-primary"><i class="icon-ok icon-white"></i> Eintragen</button>
            {% if lecturer %}
                <a href="{% url 'lecturer_detail' lecturer.pk %}" class="btn"><i class="icon-remove"></i> Abbrechen</a>
            {% else %}
                <a href="{% url 'quote_list' %}" class="btn"><i class="icon-remove"></i> Abbrechen</a>
            {% endif %}
        </div>
    </form>
{% endblock %}
