{% extends 'front/base.html' %}
{% load url from future %}
{% load tabs %}
{% load macros %}

{% block title %}Statistiken{% endblock %}

{% block bodyclass %}stats{% endblock %}

{% block navigation %}
    {% activetab 'navigation' 'stats' %}
    {{ block.super }}
{% endblock %}

{% block content %}

    <div class="page-header">
        <h1>Statistiken</h1>
    </div>

    <h2>Dozenten</h2>

    {% macro lecturer_top lecturer %}
        <li>Top: {% if lecturer %}<a href="{% url 'lecturer_detail' lecturer.pk %}">{{ lecturer.name }}</a>{% else %}-{% endif %}</li>
    {% endmacro %}

    {% macro lecturer_flop lecturer %}
        <li>Flop: {% if lecturer %}<a href="{% url 'lecturer_detail' lecturer.pk %}">{{ lecturer.name }}</a>{% else %}-{% endif %}</li>
    {% endmacro %}

    <h3>Didaktisch</h3>
    <ul>
        {% usemacro lecturer_top lecturer_top_d %}
        {% usemacro lecturer_flop lecturer_flop_d %}
    </ul>

    <h3>Menschlich</h3>
    <ul>
        {% usemacro lecturer_top lecturer_top_m %}
        {% usemacro lecturer_flop lecturer_flop_m %}
    </ul>

    <h3>Fachlich</h3>
    <ul>
        {% usemacro lecturer_top lecturer_top_f %}
        {% usemacro lecturer_flop lecturer_flop_f %}
    </ul>

    <h3>Meiste Zitate</h3>
    <ol>
    {% for lecturer in lecturer_quotes %}
        {% if lecturer.quotes_count > 0 %}<li><a href="{% url 'lecturer_detail' lecturer.pk %}">{{ lecturer.name }}</a> ({{ lecturer.quotes_count }})</li>{% endif %}
    {% endfor %}
    </ol>

    <hr>
    <h2>Studenten</h2>

    <ul>
        <li>Meiste Dozenten bewertet: {% if user_topratings %}<a href="{% url 'user' user_topratings.pk user_topratings.username %}">{{ user_topratings.name }}</a> ({{ user_topratings.ratings_count }}){% else %}-{% endif %}</li>
        <li>Meiste Dokumente hochgeladen: {% if user_topuploads %}<a href="{% url 'user' user_topuploads.pk user_topuploads.username %}">{{ user_topuploads.name }}</a> ({{ user_topuploads.uploads_count }}){% else %}-{% endif %}</li>
        <li>Meiste Events eingetragen: {% if user_topevents %}<a href="{% url 'user' user_topevents.pk user_topevents.username %}">{{ user_topevents.name }}</a> ({{ user_topevents.events_count }}){% else %}-{% endif %}</li>
    </ul>

{% endblock %}
