{% extends 'front/base.html' %}
{% load tabs %}
{% load url from future %}

{% block navigation %}
    {% activetab 'navigation' 'tipps' %}
    {{ block.super }}
{% endblock %}

{% block content %}

    <h2>Tipps zum Studium</h2>
    
    <h3>Willkommen in Rapperswil</h3>
    <p>Die Meisten von euch haben gerade erst die Lehre abgeschlossen und auch
    endlich die RS vorbei und sind nun seit einigen Wochen hier an der FH. Alles
    ist noch etwas neu und unbekannt, und es gibt viele neue Gesichter. Da es
    seit der Modularisierung keine Klassen mehr gibt, ist auch das Kennenlernen
    von Mitstudenten nicht mehr ganz so einfach...</p>
    <p>Mit unseren Tipps möchten wir helfen, dass ihr euch ein wenig besser
    zurecht findet in eurem Studium und euch damit die Zeit am Tech etwas zu
    erleichtern.</p>

    <h3>Die Infos kommen nicht mehr von alleine zu euch</h3>
    <p>Von der Berufsschule zur Fachhochschule gibt es einen entscheidenden
    Unterschied: Hier müsst ihr euch oft die notwendigen Informationen selber
    zusammensuchen, Skripte kopieren, Übungen vom Server runterladen und
    rechtzeitig ausdrucken, sowie genügend Notizen machen!</p>
    <p>Es wird einem ja nach Lehrer nicht mehr einfach alles vor die Füsse
    gelegt! Deshalb passt immer gut auf, dass ihr stehts die notwendigen
    Unterlagen beisammen habt und damit auf dem Laufenden bleibt! Etwas
    Disziplin und Selbständigkeit ist hier wichtig!</p>
    
    <h3>Heute bleib ich zuhause...</h3>
    <p>Die Vorlesungen und Übungen hier an der Schule besucht ihr freiwillig,
    das heisst wenn ihr wollt, könnt ihr ohne Problem einen Tag zuhause bleiben.
    Jedoch verpasst ihr den ganzen Stoff und der Dozent gibt vermutlich genau
    in diesen Lektionen den entscheidenen Hinweis oder die einleuchtende
    Erklärung zu einem Thema!</p>
    <p>Diese vermeintliche Freiheit kann einem auch schnell zum Verhängnis
    werden! Vorallem in den ersten Semestern des Studiums, wo man noch nicht
    sehr gut abschätzen kann, welcher Stoff wichtig ist, und welche
    Übungslektion man mit gutem Gewissen auslassen kann, sollte man vorsichtig
    damit umgehen!</p>


{% endblock %}
