{% extends 'front/base.html' %}
{% load compress %}
{% load tabs %}

{% block title %}Profil von {{ object.name }}{% endblock %}

{% block bodyclass %}user_detail{% endblock %}

{% block scripts %}
    {{ block.super }}
    {% compress js %}
    <script src="{{ STATIC_URL }}js/flattr_loader.js"></script>
    {% endcompress %}
{% endblock %}

{% block content %}

    <div class="page-header">
        <h1>{{ object.name }}</h1>
    </div>

    <h3>Persönliche Informationen</h3>
    <ul class="unstyled">
        {% if object.first_name %}<li><strong>Vorname:</strong> {{ object.first_name }}</li>{% endif %}
        {% if object.last_name %}<li><strong>Name:</strong> {{ object.last_name }}</li>{% endif %}
        <li><strong>E-Mail:</strong> {{ object.email }}</li>
    </ul>

    <h3>Statistiken</h3>
    <ul class="unstyled">
        <li><strong>Events erfasst:</strong> {{ object.Event.count }}</li>
        <li><strong>Zitate hinzugefügt:</strong> {{ object.Quote.count }}</li>
        <li><strong>Zitate bewertet:</strong> {{ object.QuoteVote.count }}</li>
        <li><strong>Dozenten bewertet:</strong> {{ lecturerratings }}</li>
        <li><strong>Dokumente hochgeladen:</strong> {{ object.Document.count }}</li>
        <li><strong>Dokumente bewertet:</strong> {{ object.DocumentRating.count }}</li>
    </ul>

    <h3>Dokumente</h3>

    {% with documents=user.Document.all standalone=True %}
        {% include 'front/blocks/document.html' %}
    {% endwith %}

{% endblock %}
