{% extends 'front/base.html' %}
{% load compress %}
{% load tabs %}

{% block title %}Profil von {{ object.name }}{% endblock %}

{% block navigation %}
    {% activetab 'navigation' 'profile' %}
    {{ block.super }}
{% endblock %}

{% block bodyclass %}user_detail{% endblock %}

{% block scripts %}
    {{ block.super }}
    {% compress js %}
        <script src="{{ STATIC_URL }}js/blazy.js"></script>
        <script>
            (function() {
                var bLazy = new Blazy();
            })();
        </script>
    {% endcompress %}
{% endblock %}

{% block content %}
<section class="user-profile">
    <h1>{{ object.name }}</h1>
    <div class="user-info">
        <h2>Persönliche Informationen</h2>
        <ul>
            {% if object.first_name %}<li><strong>Vorname:</strong> {{ object.first_name }}</li>{% endif %}
            {% if object.last_name %}<li><strong>Name:</strong> {{ object.last_name }}</li>{% endif %}
            <li><strong>E-Mail:</strong> {{ object.email }}</li>
        </ul>
        {% if object.pk = user.pk %}
            <a class="button button-primary" href="{% url 'profile' %}">Benutzerprofil bearbeiten</a>
        {% endif %}
    </div>
    <div class="user-stats">
         <h2>Statistiken</h2>
        <ul>
            <li>{{ object.Event.count }} Event{{ object.Event.count|pluralize:"s" }} erfasst</li>
            <li>{{ object.Quote.count }} Zitat{{ object.Quote.count|pluralize:"e" }} hinzugefügt</li>
            <li>{{ object.QuoteVote.count }} Zitat{{ object.QuoteVote.count|pluralize:"e" }} bewertet:</li>
            <li>{{ lecturerratings }} Dozent{{ lecturerratings|pluralize:"en" }} bewertet</li>
            <li>{{ object.Document.count }} Dokument{{ object.Document.count|pluralize:"e" }} hochgeladen</li>
            <li>{{ object.DocumentRating.count }} Dokument{{ object.DocumentRating.count|pluralize:"e" }} bewertet</li>
        </ul>
    </div>
    <section class="documents">
        <h2>Dokumente</h2>
        {% with documents=object.Document.all standalone=True %}
            {% include 'front/blocks/document.html' %}
        {% endwith %}
    </section>
</section>
{% endblock %}
