{% extends 'front/base.html' %}
{% load url from future %}
{% load tabs %}

{% block title %}Profil von {{ object.name }}{% endblock %}

{% block content %}

    <h1>{{ object.username }}</h1>

    <h3>Persönliche Informationen</h3>
    <ul class="unstyled">
        {% if object.first_name %}<li><strong>Vorname:</strong> {{ object.first_name }}</li>{% endif %}
        {% if object.last_name %}<li><strong>Name:</strong> {{ object.last_name }}</li>{% endif %}
        <li><strong>E-Mail:</strong> {{ object.email }}</li>
    </ul>

    <h3>Statistiken</h3>
    <ul class="unstyled">
        <li><strong>Events erfasst:</strong> {{ object.Event.count }}</li>
        <li><strong>Zitate hinzugefügt:</strong> {{ object.Quote.count }}</li>
        <li><strong>Zusammenfassungen hochgeladen:</strong> {{ object.Document.count }}</li>
        <li><strong>Zusammenfassungen bewertet:</strong> {{ object.DocumentRating.count }}</li>
    </ul>

{% endblock %}
