{% extends 'front/base.html' %}
{% load tabs %}
{% load compress %}

{% block title %}Tweets{% endblock %}

{% block bodyclass %}tweet_list{% endblock %}

{% block navigation %}
    {% activetab 'navigation' 'tweets' %}
    {{ block.super }}
{% endblock %}

{% block content %}

    <div class="page-header">
        <h1>Tweets</h1>
    </div>

    <p>Hier werden HSR-Bezogene Tweets via Twitter-Suche aufgelistet. Da die
    Abkürzung "HSR" mehrfach besetzt ist (u.a. von "High Speed Rail") kann es
    ab und zu False Posives drin haben.</p>

    <p>Leider reicht die Suche via API nicht allzu weit zurück, deshalb finden
    sich hier nur Tweets er letzten Tage / Wochen. Damit dein Tweet hier
    erscheint, verwende den Hashtag <em>#hsr</em>.</p>

    <div id="tweets">
        {% if not tweets %}
            <p><em>Es wurden keine passenden Tweets gefunden.</em></p>
        {% else %}
            {% for tweet in tweets %}
                {% ifchanged tweet.id %}
                    <blockquote class="twitter-tweet" data-cards="hidden" lang="en">
                        <p>{{ tweet.text|urlize }}</p>
                        &mdash; {{ tweet.author.name }} (@{{ tweet.author.screen_name }}) <a href="https://twitter.com/{{ tweet.author.screen_name }}/statuses/{{ tweet.id }}">{{ tweet.created_at }}</a>
                    </blockquote>
                    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                {% endifchanged %}
            {% endfor %}
        {% endif %}
    </div>

{% endblock %}
