{% load tags %}
{% load staticfiles %}

{% if documents %}
    {% for doc in documents %}
    <article class="document {% if doc.uploader == user %}document-edit{% endif %}">
        {% if doc|is_author:user %}
        <div class="edit">
            <a class="button icon-edit" title="Bearbeiten" href="{% url 'documents:document_edit' doc.category.name|slugify doc.pk %}">
                Bearbeiten
            </a>
            <a class="button icon-trash" title="Löschen" href="{% url 'documents:document_delete' doc.category.name|slugify doc.pk %}">
                Löschen
            </a>
        </div>
        {% endif %}
        <div class="details">
            <div class="labels">
                {% if standalone %} {# Show category as tag #}
                    <span class="label">{{ doc.category.name }}</span>
                {% endif %}
                <span class="label-{% if doc.dtype == 1 %}summary{% elif doc.dtype == 2 %}exam{% else %}other{% endif %}">
                    {{ doc.get_dtype_display }}
                </span>
                {% with doc.license_details as license %}
                    {% if license.name and doc.dtype != 2 %}
                        <a rel="license" href="{{ license.url }}"
                            {% if doc.license == 1 %}
                                title="Veröffentlicht als {{ license.name }}"
                            {% else %}
                                title="Veröffentlicht unter der {{ license.name }} Lizenz"
                            {% endif %}
                        ><span class="label-license">{{ license.name }}</span></a>
                    {% endif %}
                {% endwith %}
                {% if doc.github %}
                    <a class="icon-github label-github" href="{{doc.url}}">
                    Github
                    </a>
                {% endif %}
            </div>
            <h3 xmlns:dct="http://purl.org/dc/terms/" property="dct:title">{{ doc.name }}</h3>
            <p class="author">von {% if doc.uploader %}<a rel="author" href="{% url 'user' doc.uploader.pk doc.uploader.username|slugify %}">{{ doc.uploader.name }}</a>{% endif %}
            (<span>{{ doc.downloadcount }} Download{{ doc.downloadcount|pluralize:"s" }}</span>)</p>
            {% if user.is_authenticated %}
            <form class="drating" data-rating="{{ ratings|lookup:doc.pk }}" data-url="{% url 'documents:document_rate' doc.category.name|slugify doc.pk %}" data-summary-url="{% url 'documents:document_rating_ajax' doc.category.name|slugify doc.pk %}">
                <table class="document-rating-table">
                    <tbody>
                    <tr class="author">
                        <th>Durchschnitt</th>
                        <th>Deine Bewertung</th>
                    </tr>
                    <tr>
                        <td>
                            <label for="drating" class="label-document-rating"
                                   title="{{ doc.DocumentRating.count }} Bewertung{{ doc.DocumentRating.count|pluralize:" en" }}">
                            {{ doc.rating|default:'-' }}
                            </label>
                        </td>
                        <td>
                            {% include 'lecturers/blocks/star_rating.html' with name="drating" rating=doc.rating range=10|get_range1 disabled=doc|is_author:user %}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
            {% endif %}
            <p>
                {% if doc.change_date %}
                    <em>{{ doc.change_date|date:"d.m.Y" }}:</em>
                {% endif %}
                {{ doc.description|urlizetrunc:50 }}
            </p>
            {% if doc.url and not doc.github %}
                <p>{{ doc.url|urlizetrunc:70 }}</p>
            {% endif %}
        </div>
        <div class="download">
            {% if doc.exists %}
                <a class="download-action {{ doc.fileext|filetype_class }}" href="{% url 'documents:document_download' doc.category.name|slugify doc.pk %}" class="file-{{ doc.fileext }}" title="{{ doc.original_filename }}">
                    <div class="ficon-{{ doc.fileext|filetype_class }}"></div>
                    <span class="filename">{{ doc.original_filename }}</span>
                    <span class="filesize">({{ doc.document.size|filesizeformat }})</span>
                </a>
                {% if doc.thumbnail %}
                    <div class="thumbnail">
                        <img class="b-lazy" src="" data-src="{% url 'documents:document_thumbnail' doc.category.name|slugify doc.pk %}" alt="{{ doc.original_filename }}"/>
                    </div>
                {% endif %}
            {% else %}
                <p><em>Datei nicht verfügbar</em></p>
            {% endif %}
        </div>
    </article>

    {% endfor %}

{% else %}
<p>Keine Dokumente gefunden.</p>
{% endif %}
