{% load url from future %}

<table class="table table-striped">
    <colgroup>
        <col width="150px">
        <col>
        <col>
    </colgroup>
    <thead>
        <tr>
            <th>Datum</th>
            <th>Beschreibung</th>
            <th>Erfasst von</th>
        </tr>
    </thead>
    <tbody>
        {% for event in object_list %}
            <tr>
                <td>{{ event.start_date }}</td>
                <td><a href="{% url 'event_detail' event.pk %}"><strong>{{ event.summary }}</strong></a></td>
                {% if event.author %}
                    <td><a href="{% url 'user' event.author.pk event.author.username|slugify %}">{{ event.author.name }}</a></td>
                {% else %}
                    <td>Gelöschter User</td>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
</table>
