{% for event in object_list %}
    <article class="event">
        <a href="{% url 'events:event_detail' event.pk %}">
            <time class="date" datetime="{{ event.start_date|date:"Y-m-d" }}">
                <span class="day">{{ event.start_date|date:"d" }}</span>
                <span class="month">{{ event.start_date|date:"M" }}</span>
                {% if event.start_date.year <= current_year %}
                    <span class="year">{{ event.start_date|date:"Y" }}</span>
                {% endif %}
            </time>
            <div class="summary">
                <h3>{{ event.summary }}</h3>
                {% if event.author %}
                    <a rel="author" href="{% url 'user' event.author.pk event.author.username|slugify %}">{{ event.author.name }}</a>
                {% else %}
                    <span class="author">Gelöschter User<span>
                {% endif %}
                {{ event.description|urlize|linebreaks }}
            </div>
        </a>
    </article>
{% endfor %}
