{% extends 'front/base.html' %}
{% load tabs %}
{% load thumbnail %}
{% load compress %}

{% block title %}{{ lecturer.name }}{% endblock %}

{% block bodyclass %}lecturer_detail{% endblock %}

{% block navigation %}
    {% activetab 'navigation' 'lecturers' %}
    {{ block.super }}
{% endblock %}

{% block scripts %}
    {{ block.super }}
    {% compress js %}
        <script type="text/javascript">
            $(document).ready(function() {
                $('.oldphotos img').click(function() {
                    var path = $(this).attr('data-path');
                    $('.pictures>img.thumbnail').addClass('hidden');
                    $('.pictures>img.thumbnail[data-path="' + path + '"]').removeClass('hidden');
                });
            });
        </script>
    {% endcompress %}
{% endblock %}

{% block content %}
    <article>
    <div class="lecturer-profile">
        <div class="info">
            <h1 class="lecturer-name" data-lecturer-pk="{{ lecturer.pk }}">{{ lecturer.name }}</h1>
            {% if lecturer.description %}
                <p>{{ lecturer.description }}</p
            {% endif %}
            <table class="properties">
                <tbody>
                    {% if lecturer.abbreviation %}
                    <tr>
                        <td>Kürzel:</td>
                        <td>{{ lecturer.abbreviation }}</td>
                    </tr>
                    {% endif %}
                    {% if lecturer.department %}
                    <tr>
                        <td>Abteilung:</td>
                        <td> {{ lecturer.department }}</td>
                    </tr>
                    {% endif %}
                    {% if lecturer.function %}
                    <tr>
                        <td>Funktion:</td>
                        <td>{{ lecturer.function }}</td>
                    </tr>
                    {% endif %}
                    {% if lecturer.main_area %}
                    <tr>
                        <td>Fachschwerpunkt:</td>
                        <td>{{ lecturer.main_area }}</td>
                    </tr>
                    {% endif %}
                    {% if lecturer.subjects %}
                    <tr>
                        <td>Fächer:</td>
                        <td>{{ lecturer.subjects }}</td>
                    </tr>
                    {% endif %}
                    {% if lecturer.office %}
                    <tr>
                        <td>Büro:</td>
                        <td>{{ lecturer.office }}</td>
                    </tr>
                    {% endif %}
                    {% if lecturer.email %}
                    <tr>
                        <td>Email:</td>
                        <td>{{ lecturer.email|urlize }}</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
        <div class="pictures">
            {# Main lecturer picture #}
            <img class="thumbnail" data-path="{{ lecturer.photo|default:'' }}"
            {% if lecturer.photo %} src="{% thumbnail lecturer.photo 120x160 crop %}"{% endif %}
            {% if not lecturer.photo %} src="{{ STATIC_URL }}img/120x160.gif"{% endif %}
            width="120" height="160">

            {# Old lecturer pictures (initially hidden) #}
            {% for photo in lecturer.oldphotos %}
                <img class="thumbnail hidden" data-path="{{ photo }}"
                src="{% thumbnail photo 120x160 crop %}" width="120" height="160">
            {% endfor %}

            {# Small thumbnails #}
            {% if lecturer.oldphotos %}
                <div class="oldphotos">
                    <img data-path="{{ lecturer.photo }}"
                    src="{% thumbnail lecturer.photo 36x36 crop %}">
                    {% for photo in lecturer.oldphotos %}
                        <img data-path="{{ photo }}"
                        src="{% thumbnail photo 36x36 crop %}" width="36" height="36">
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
    <div class="rate">
        <h2>Bewerten</h2>
        <ul>
            <li>
            <span class="label-didactic" title="{{ lecturer.rating_count_d }} Bewertung{{ lecturer.rating_count_d|pluralize:"en" }}">
                    {{ lecturer.avg_rating_d|default:'-' }}
                </span>Didaktisch
                <div id="lrating-d" data-rating="{{ rating_d|default:0 }}"></div>
            </li>
            <li>
            <span class="label-humanly" title="{{ lecturer.rating_count_m }} Bewertung{{ lecturer.rating_count_m|pluralize:"en" }}">
                    {{ lecturer.avg_rating_m|default:'-' }}
                </span>Menschlich
                <div id="lrating-m" data-rating="{{ rating_m|default:0 }}"></div>
            </li>
            <li>
                <span class="label-technical" title="{{ lecturer.rating_count_f }} Bewertung{{ lecturer.rating_count_f|pluralize:"en" }}">
                    {{ lecturer.avg_rating_f|default:'-' }}
                </span>Fachlich
                <div id="lrating-f" data-rating="{{ rating_f|default:0 }}"></div>
            </li>
        </ul>
    </div>
    <div class="quotes">
        <h2>Zitate</h2>
        <a class="button" href="{% url 'lecturers:lecturer_quote_add' lecturer.pk %}">Zitat hinzufügen</a>
        {% if quotes %}
            {% for quote in quotes %}
            <article class="quote quote-no-lecturer">
                {% include 'lecturers/blocks/vote_buttons.html' %}
                <div class="quote-wrapper">
                    <blockquote cite="{% url 'lecturers:lecturer_detail' quote.lecturer_id %}">
                        <p>{{ quote.quote }}</p>
                    </blockquote>
                    {% if quote.comment %}
                    <p class="comment">
                        {{ quote.comment|linebreaksbr }}
                    </p>
                    {% endif %}
                    <div class="citation">
                        {% if quote.date_available %}am {{ quote.date|date:"d. M.Y" }}{% endif %}
                    </div>
                    {% if quote.author_id = user.pk %}                                {% include 'lecturers/blocks/quote_delete_button.html' with small_button=1 %}
                    {% endif %}
                </div>
            </article>
            {% endfor %}
        {% else %}
            <p><em>Keine Zitate gefunden.</em></p>
        {% endif %}
    </div>
    </article>
{% endblock %}
