{% extends 'front/base.html' %}
{% load tabs %}
{% load tags %}
{% load compress %}
{% load thumbnail %}

{% block title %}Dozenten{% endblock %}

{% block bodyclass %}lecturer_list{% endblock %}

{% block scripts %}
    {{ block.super }}
    {% compress js %}
        <script src="{{ STATIC_URL }}js/jquery.lazyload.js"></script>
        <script src="{{ STATIC_URL }}js/list.js"></script>
        <script>
            $(function() {
                $("img.lazy").lazyload({ threshold : 200 });

                var options = {
                    valueNames: ["name"],
                    page: 9001
                };

                var contactList = new List("lecturers", options);

                var loadImages = function() {
                    var elements = $.map(contactList.visibleItems, function(val) { return val.elm; });
                    $(elements).find("img.lazy").trigger("appear");
                };

                //Depending on how fast the user is typing, the updated event
                //triggers multiple times, which is not optimal.
                //The v1.1 of list.js supports a searchCompleted event which whould
                //resolve this issue,

                contactList.on("updated", function() {
                    onSearchCompleted = setTimeout(function() {
                        loadImages();
                    }, 500);
                });
            });
        </script>
    {% endcompress %}
{% endblock %}

{% block navigation %}
    {% activetab 'navigation' 'lecturers' %}
    {{ block.super }}
{% endblock %}

{% block content %}

    <div class="page-header">
        <h1>Unsere Dozenten</h1>
    </div>

    <p>Wir versuchen euch mit dieser Übersicht die Dozenten der HSR vorzustellen, sowie Tipps und
    Tricks zum Umgang mit ihnen und zu den Vorlesungen zu geben.</p>

    <p>Da die Personeninfos von der HSR-Website kommen, können wir Dozenten von normalen Angestellten
    und Assistenten nicht automatisiert unterscheiden. Vielleicht bauen wir später ein
    Kategorie-System ein, für den Moment müsst ihr aber damit leben.</p>

    <p>Neben den Bewertungen können auch Zitate aus dem Unterricht hinzugefügt werden. Wichtig:
    Die Zitate sollten witzig sein und eine versehentliche Bemerkung oder eine typische Eigenschaft
    des Dozenten beschreiben und dürfen nicht bösartig oder ehrverletzend sein!</p>

    <p>Falls sich ein Dozent durch ein Zitat angegriffen fühlt, wird dieses gelöscht.</p>

    <p>Legende für Bewertungen (1-10 Punkte): <span class="label-didactic">didaktisch</span> <span class="label-humanly">menschlich</span> <span class="label-technical">fachlich</span></p>

    <hr>

    <div id="lecturers">
        <form action="#" class="search-box">
            <input class="search" type="text" placeholder="Dozent suchen..." />
            <button type="submit"><span class="icon-magnifying-glass"></span></button>
        </form>

        <div class="list">
            {% for lecturer in lecturers %}
                <article class="lecturer">
                    <h3><a href="{% url 'lecturers:lecturer_detail' lecturer.pk %}" class="name">{{ lecturer.first_name }}<br />{{ lecturer.last_name }}</a>
                    <!--<span class="label">{{lecturer.abbreviation}}</span>--></h3>
                    <a href="{% url 'lecturers:lecturer_detail' lecturer.pk %}">

                        <img class="thumbnail lazy" src="{{ STATIC_URL }}img/120x160.gif"
                            {% if lecturer.photo %}data-original="{% thumbnail lecturer.photo 120x160 crop %}"{% endif %}
                        /></a>
                    {% with quotecounts|lookup:lecturer.pk|default:0 as quotecount %}
                    <p><a class="label" href="{% url 'lecturers:lecturer_detail' lecturer.pk %}#zitate">{{ quotecount }} Zitat{{ quotecount|pluralize:"e" }}</a>
                           <span class="label-didactic">{{ lecturer.avg_rating_d|default:'-' }}</span>
                           <span class="label-humanly">{{ lecturer.avg_rating_m|default:'-' }}</span>
                           <span class="label-technical">{{ lecturer.avg_rating_f|default:'-' }}</span></p>
                   {% endwith %}
                </article>

            {% endfor %}
        </div>
    </div>

    {% if not lecturers %}
        <p><em>Keine passenden Dozenten gefunden.</em></p>
    {% endif %}

{% endblock %}
