{% extends 'front/base.html' %} {% load tabs %}
{% load thumbnail %}

{% block title %}Zitate{% endblock %}

{% block bodyclass %}quote_list{% endblock %}

{% block navigation %}
    {% activetab 'navigation' 'quotes' %}
    {{ block.super }}
{% endblock %}

{% block content %}

    <div class="page-header">
        <h1>Zitate</h1>
    </div>

    <p>Die neusten Zitate oder typische Eigenheiten von Dozenten.</p>

    <p>Um alle Zitate eines bestimmten Dozenten zu sehen, einfach das jeweilige
    Profil ansehen.</p>

    {% if user.is_authenticated %}
        <a class="button button-primary" href="{% url 'lecturers:quote_add' %}">
            Zitat hinzufügen
        </a>
    {% endif %}

    {% if quotes %}

        {% if paginator.num_pages > 1 %}
            <ul class="pagination">
                {% for page in paginator.page_range %}
                    <li class="{% if page_obj.number == page %}active{% endif %}"><a class="button" href="?page={{ page }}">{{ page }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}

        {% for quote in quotes %}
            <article class="quote">
            {% include 'lecturers/blocks/vote_buttons.html' %}
            <div class="quote-wrapper">
                <blockquote cite="{% url 'lecturers:lecturer_detail' quote.lecturer_id %}">
                    <p>{{ quote.quote|linebreaksbr }}</p>
                </blockquote>
                {% if quote.comment %}
                <p class="comment">{{ quote.comment|linebreaksbr }}</p>
                {% endif %}
                <div class="citation">
                    von <a href="{% url 'lecturers:lecturer_detail' quote.lecturer_id %}">{{ quote.lecturer.name }}</a>{% if quote.date_available %} - {{ quote.date|date:"d. M.Y" }}{% endif %}
                </div>
                {% if quote.author_id = user.pk %}                                {% include 'lecturers/blocks/quote_delete_button.html' with small_button=1 %}
                {% endif %}
            </div>
            {% if quote.lecturer.photo %}
            <div class="thumbnail">
                <img src="{% thumbnail quote.lecturer.photo 75x100 crop %}" />
            </div>
            {% endif %}
            </article>
        {% endfor %}

        {% if paginator.num_pages > 1 %}
            <ul class="pagination">
                {% for page in paginator.page_range %}
                    <li class="{% if page_obj.number == page %}active{% endif %}"><a class="button" href="?page={{ page }}">{{ page }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}

    {% else %}
        <p><em>Keine Zitate gefunden.</em></p>
    {% endif %}

{% endblock %}
