{% extends 'front/base.html' %} {% load tabs %}
{% load thumbnail %}
{% load compress %}

{% block title %}Zitate{% endblock %}

{% block bodyclass %}quote_list{% endblock %}

{% block navigation %}
    {% activetab 'navigation' 'quotes' %}
    {{ block.super }}
{% endblock %}

{% block scripts %}
    {{ block.super }}
    {% compress js %}

        <script src="{{ STATIC_URL }}js/jquery-2.1.0.js"></script>
        <script src="{{ STATIC_URL }}js/blazy.js"></script>
        <script src="{{ STATIC_URL }}js/quote_votes.js"></script>
        <script>
            (function() {
                var bLazy = new Blazy();
            })();
        </script>
    {% endcompress %}
{% endblock %}

{% block content %}

    <div class="page-header">
        <h1>Zitate</h1>
    </div>

    <p>Die neusten Zitate oder typische Eigenheiten von Dozenten.</p>

    <p>Um alle Zitate eines bestimmten Dozenten zu sehen, einfach das jeweilige
    Profil ansehen.</p>

    {% if user.is_authenticated %}
        <a class="button button-primary" href="{% url 'lecturers:quote_add' %}">
            Zitat hinzufügen
        </a>
    {% endif %}

    {% if quotes %}

        {% include 'lecturers/blocks/pagination.html' %}

        {% for quote in quotes %}
            <article class="quote {% if quote.author_id = user.pk %}quote-edit{% endif %}">
            {% if quote.author_id = user.pk %}
                <div class="edit">
                    {% include 'lecturers/blocks/quote_delete_button.html' with small_button=1 %}
                </div>
            {% endif %}
            {% include 'lecturers/blocks/vote_buttons.html' %}
            <div class="quote-wrapper">
                <blockquote cite="{% url 'lecturers:lecturer_detail' quote.lecturer_id %}">
                    <p>{{ quote.quote|linebreaksbr }}</p>
                </blockquote>
                {% if quote.comment %}
                <p class="comment">{{ quote.comment|linebreaksbr }}</p>
                {% endif %}
                <div class="citation">
                    von <a href="{% url 'lecturers:lecturer_detail' quote.lecturer_id %}">{{ quote.lecturer.name }}</a>{% if quote.date_available %} - {{ quote.date|date:"d. M.Y" }}{% endif %}
                </div>
            </div>
            {% if quote.lecturer.photo %}
            <div class="thumbnail">
                <img class="b-lazy" src="{{ STATIC_URL }}img/professor.png" data-src="{% thumbnail quote.lecturer.photo 75x100 crop %}" />
            </div>
            {% endif %}
            </article>
        {% endfor %}

        {% include 'lecturers/blocks/pagination.html' %}

    {% else %}
        <p><em>Keine Zitate gefunden.</em></p>
    {% endif %}

{% endblock %}
