{% extends 'base.html' %}

{% block title %}Aktivierung erfolgreich{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>Aktivierung erfolgreich</h1>
    </div>

    <img src="{{ STATIC_URL }}img/success.jpg" alt="Success Meme"></img>

    <p>Du hast dich soeben erfolgreich registriert. Gratuliere, du darfst dir
    für diese Leistung selbst auf die Schulter klopfen!</p>

    <p>Du hast nun die Ehre, dich <a href="{% url 'auth_login' %}">hier einloggen zu dürfen</a>. Viel Spass.</p>

{% endblock %}
