{% extends 'front/base.html' %}
{% load url from future %}

{% block title %}Aktivierung erfolgreich{% endblock %}

{% block content %}
    <h1>Aktivierung erfolgreich</h1>

    <img src="{{ STATIC_URL }}img/success.jpg" alt="Success Meme"></img>

    <p>Du hast dich soeben erfolgreich registriert. Gratuliere, du darfst dir
    für diese Leistung selbst auf die Schulter klopfen!</p>

    <p>Du hast nun die Ehre, dich <a href="{% url 'auth_login' %}">hier einloggen zu dürfen</a>. Viel Spass.</p>

{% endblock %}
