{% extends 'front/base.html' %}
{% load tabs %}

{% block title %}Login{% endblock %}

{% block navigation %}
    {% activetab 'navigation' 'login' %}
    {{ block.super }}
{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>Login</h1>
    </div>
    
    {% if request.GET.next %}
        <br><div class="alert alert-error"><strong>Bitte einloggen!</strong>
            Die gewünschte Seite ist nur für registrierte Personen zugänglich.
            <a href="{% url 'register' %}">Registrieren?</a>
        </div>
    {% endif %}

    {% if form.errors %}
        <br>
        <div class="alert alert-error">
            Fehlerhafte Angaben. Bitte versuch es nochmals.
            <br><br>
            <strong>Hinweis:</strong> Da das Studentenportal unabhängig von der
            HSR ist, kann hier nicht das HSR-Login direkt verwendet werden.
            Stattdessen muss ein separater Account <a href="{% url 'register' %}">erstellt werden</a>.
        </div>

    {% endif %}

    <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
        {% csrf_token %}
        <fieldset>
            <div class="clearfix">
                {{ form.username.label_tag }}
                <div class="input input-append">
                    <input type="text" name="{{ form.username.name }}" id="id_{{ form.username.name }}">
                    <span class="add-on">@hsr.ch</span>
                </div>
            </div>

            <div class="clearfix">
                {{ form.password.label_tag }}
                <div class="input">
                    <input type="password" name="{{ form.password.name }}" id="id_{{ form.password.name }}">
                </div>
            </div>
            
            <br>

            <div class="clearfix">
                <input type="submit" value="Login" class="btn btn-primary">
                <input type="hidden" name="next" value="{{ next }}">
            </div>
        </fieldset>
    </form>

    <div class="others">
        <a href="{% url 'register' %}">Registrieren?</a>
        <a href="{% url 'auth_password_reset' %}">Passwort vergessen?</a>
    </div>
{% endblock %}
