{% extends 'base.html' %}
{% load tabs %}

{% block title %}Login{% endblock %}

{% block navigation %}
    {% activetab 'navigation' 'login' %}
    {{ block.super }}
{% endblock %}

{% block content %}

    <section>

    <header>
        <h1>Login</h1>
    </header>

    {% if request.GET.next %}
        <br><div class="alert-error"><strong>Bitte einloggen!</strong>
            Die gewünschte Seite ist nur für registrierte Personen zugänglich.
            <a href="{% url 'register' %}">Registrieren?</a>
        </div>
    {% endif %}

    {% if form.errors %}
        <br>
        <div class="alert-error">
            Fehlerhafte Angaben. Bitte versuch es nochmals.
            <br><br>
            <strong>Hinweis:</strong> Da das Studentenportal unabhängig von der
            HSR ist, kann hier nicht das HSR-Login direkt verwendet werden.
            Stattdessen muss ein separater Account <a href="{% url 'register' %}">erstellt werden</a>.
        </div>

    {% endif %}


    <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
        {% csrf_token %}
        <fieldset>
            <input type="text" name="{{ form.username.name }}" id="id_{{ form.username.name }}" placeholder="{{ form.username.label }}">

            <input type="password" name="{{ form.password.name }}" id="id_{{ form.password.name }}" placeholder="{{ form.password.label }}">
            <a class="note" href="{% url 'auth_password_reset' %}">Passwort vergessen?</a>

            <br clear="all" />

            <a class="button" href="{% url 'register' %}">Registrieren?</a>
            <button class="button button-primary" type="submit">Login</button>
            <input type="hidden" name="next" value="{{ next }}">
        </fieldset>
    </form>
    </section>
{% endblock %}
