{% extends 'base.html' %}

{% block title %}Passwort zurücksetzen{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>Passwort zurücksetzen</h1>
    </div>


    {% if validlink %}
        <form action="" method="post">
            {% csrf_token %}
            <fieldset>
                {% include 'lib/form_loop.html' %}
                <br>
                <div>
                    <input type="submit" value="Passwort ändern" class="btn btn-primary">
                </div>
            </fieldset>
        </form>
    {% else %}
        <p>Der Passwort Reset Link ist ungültig, möglicherweise wurde er schoneinmal benutzt.
        Bitte Passwort-Reset-Email nochmals anfordern.</p>
    {% endif %}

{% endblock %}
