{% extends 'front/base.html' %}

{% block title %}Passwort zurücksetzen{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>Passwort zurücksetzen</h1>
    </div>

    {% if form.errors %}
        <br><div class="alert-error">Fehlerhafte Angaben. Bitte versuch es nochmals.</div>
    {% endif %}

    <p>Passwort vergessen? <strong>Fail.</strong> Aber halb so tragisch - einfach deine
    E-Mail-Adresse eingeben und wir senden dir Anweisungen zum Zurücksetzen des Passworts.</p>

    <form action="" method="post">
        {% csrf_token %}
        <fieldset>
            {% include 'lib/form_loop.html' %}
            <br>
            <div>
                <input type="submit" value="Passwort zurücksetzen" class="btn btn-primary">
            </div>
        </fieldset>
    </form>
{% endblock %}
