{% extends 'base.html' %}

{% block title %}Passwort ändern{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>Passwort ändern</h1>
    </div>

    {% if form.errors %}
        <br><div class="alert-error">Fehlerhafte Angaben. Bitte versuch es nochmals.</div>
    {% endif %}

    <form action="" method="post">
        {% csrf_token %}
        <fieldset>
            {% include 'lib/form_loop.html' %}
            <br>
            <div>
                <input type="submit" value="Passwort ändern" class="button button-primary">
            </div>
        </fieldset>
    </form>
{% endblock %}
