{% extends 'base.html' %}

{% block title %}Aktivierungsmail versendet{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>Aktivierungsmail versendet</h1>
    </div>

    <p>Bitte prüfe dein E-Mail Postfach und aktiviere dein Konto mit dem dort
    drin enthaltenen Link.</p>
    <p><b>Bitte überprüfe auch den Junk-Mail-Ordner.</b>
    Sollte die Mail dort gelandet sein, so markiere sie bitte als "Keine Junk
    E-Mail" inkl. Meldung an Microsoft.
    </p>

{% endblock %}
