/* ===RESET=== */
@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);
/* line 5, ../../../../../../../.gem/ruby/2.1.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../.gem/ruby/2.1.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../.gem/ruby/2.1.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../.gem/ruby/2.1.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../.gem/ruby/2.1.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../.gem/ruby/2.1.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../.gem/ruby/2.1.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../.gem/ruby/2.1.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../.gem/ruby/2.1.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 11, ../../../../../../../.gem/ruby/2.1.0/gems/susy-2.1.1/sass/susy/language/susy/_box-sizing.scss */
*, *::before, *::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* ===FONTASTIC ICONS=== */
@font-face {
  font-family: "studentenportal-icons";
  src: url("fonts/studentenportal-icons.eot");
  src: url("fonts/studentenportal-icons.eot?#iefix") format("embedded-opentype"), url("fonts/studentenportal-icons.woff") format("woff"), url("fonts/studentenportal-icons.ttf") format("truetype"), url("fonts/studentenportal-icons.svg#studentenportal-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 49, ../sass/_icons.scss */
.icon-lecturer:before {
  font-family: "studentenportal-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  font-size: 1em;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "f";
}

/* line 49, ../sass/_icons.scss */
.icon-twitter:before {
  font-family: "studentenportal-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  font-size: 1em;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "h";
}

/* line 49, ../sass/_icons.scss */
.icon-download:before {
  font-family: "studentenportal-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  font-size: 1em;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "j";
}

/* line 49, ../sass/_icons.scss */
.icon-home:before {
  font-family: "studentenportal-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  font-size: 1em;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "b";
}

/* line 49, ../sass/_icons.scss */
.icon-magnifying-glass:before {
  font-family: "studentenportal-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  font-size: 1em;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "c";
}

/* line 49, ../sass/_icons.scss */
.icon-flattr:before {
  font-family: "studentenportal-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  font-size: 1em;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "d";
}

/* line 49, ../sass/_icons.scss */
.icon-github:before {
  font-family: "studentenportal-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  font-size: 1em;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "e";
}

/* line 49, ../sass/_icons.scss */
.icon-calendar:before {
  font-family: "studentenportal-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  font-size: 1em;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "a";
}

/* line 49, ../sass/_icons.scss */
.icon-list:before {
  font-family: "studentenportal-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  font-size: 1em;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "g";
}

/* line 49, ../sass/_icons.scss */
.icon-comment-quotes:before {
  font-family: "studentenportal-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  font-size: 1em;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "i";
}

/* line 49, ../sass/_icons.scss */
.icon-doc:before {
  font-family: "studentenportal-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  font-size: 1em;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "l";
}

/* line 49, ../sass/_icons.scss */
.icon-test:before {
  font-family: "studentenportal-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  font-size: 1em;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "k";
}

/* line 49, ../sass/_icons.scss */
.icon-statistics:before {
  font-family: "studentenportal-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  font-size: 1em;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "m";
}

/* line 49, ../sass/_icons.scss */
.icon-edit:before {
  font-family: "studentenportal-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  font-size: 1em;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "n";
}

/* line 49, ../sass/_icons.scss */
.icon-logout:before {
  font-family: "studentenportal-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  font-size: 1em;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "o";
}

/* line 49, ../sass/_icons.scss */
.icon-user:before {
  font-family: "studentenportal-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  font-size: 1em;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "p";
}

/* line 49, ../sass/_icons.scss */
.icon-login:before {
  font-family: "studentenportal-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  font-size: 1em;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "q";
}

/* ===FILETYPE ICONS=== */
/* line 96, filetypes/*.png */
.filetypes-sprite, .ficon-xls, .ficon-ppt, .ficon-doc, .ficon-pdf, .ficon-other, .ficon-img, .ficon-zip {
  background-image: url('/apps/front/static/img/filetypes-s7085bf50c0.png');
  background-repeat: no-repeat;
}

/* line 65, ../sass/_icons.scss */
.ficon-xls {
  background-position: 0 -160px;
}

/* line 65, ../sass/_icons.scss */
.ficon-ppt {
  background-position: 0 -128px;
}

/* line 65, ../sass/_icons.scss */
.ficon-doc {
  background-position: 0 0;
}

/* line 65, ../sass/_icons.scss */
.ficon-pdf {
  background-position: 0 -96px;
}

/* line 65, ../sass/_icons.scss */
.ficon-other {
  background-position: 0 -64px;
}

/* line 65, ../sass/_icons.scss */
.ficon-img {
  background-position: 0 -32px;
}

/* line 65, ../sass/_icons.scss */
.ficon-zip {
  background-position: 0 -192px;
}

/* ===TYPOGRAPHY=== */
/* line 6, ../sass/_base.scss */
html {
  font-size: 62.5%;
}

/* line 13, ../sass/_base.scss */
body {
  background: whitesmoke;
  font-size: 1.4rem;
  line-height: 2rem;
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  color: #333;
}

/* line 21, ../sass/_base.scss */
h1, h2, h3, h4, h5, h6, nav a {
  font-family: "Droid Sans", sans-serif;
}

/* line 25, ../sass/_base.scss */
h1 {
  font-size: 3.2rem;
  font-weight: 400;
  color: #155183;
  line-height: 4.16rem;
}

/* line 32, ../sass/_base.scss */
h2 {
  font-size: 2.8rem;
  line-height: 3.64rem;
}

/* line 37, ../sass/_base.scss */
h3 {
  font-size: 2rem;
  line-height: 4rem;
}

/* line 42, ../sass/_base.scss */
em, strong {
  font-weight: 700;
}

/* line 46, ../sass/_base.scss */
p {
  margin: 0 auto 0.5em;
}

/* line 50, ../sass/_base.scss */
hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 1rem 0 1.5rem;
  height: 0;
}

/* ===LINKS=== */
/* line 60, ../sass/_base.scss */
a {
  color: #155183;
  text-decoration: none;
  outline: 0;
}

/* line 65, ../sass/_base.scss */
a:hover, a:focus {
  color: #41586e;
}

/* ===FORMS=== */
/* line 69, ../sass/_base.scss */
form, fieldset {
  margin-bottom: 1rem;
}

/* line 71, ../sass/_base.scss */
input {
  margin-top: 1rem;
  width: 100%;
  outline: none;
  padding: 0.75rem 1.5rem;
  border: 2px solid #d2dde5;
  -moz-transition: border-color, 0.3s;
  -o-transition: border-color, 0.3s;
  -webkit-transition: border-color, 0.3s;
  transition: border-color, 0.3s;
}
/* line 79, ../sass/_base.scss */
input:focus {
  border-color: #41586e;
}

/* line 84, ../sass/_base.scss */
.note {
  margin-top: 0.5rem;
  font-size: 1.1rem;
  line-height: 1.5rem;
  color: #999;
}

/* line 92, ../sass/_base.scss */
label.input {
  position: relative;
}
/* line 95, ../sass/_base.scss */
label.input .add-on {
  color: #aaa;
  top: 5px;
  right: 5px;
  width: 100px;
  position: absolute;
  padding-left: 0.25rem;
  border-left-width: 1px;
  border-left: 1px solid #d2dde5;
}

/* line 108, ../sass/_base.scss */
button.light, a.button.light {
  background-color: #91acc0;
}
/* line 111, ../sass/_base.scss */
button.light:hover, a.button.light:hover {
  color: #fff;
  background-color: #7194ad;
}

/* line 117, ../sass/_base.scss */
button, a.button {
  display: inline-block;
  margin: 1rem;
  margin-left: 0;
  color: #fff;
  background-color: #155183;
  padding: 0.75rem 1.5rem;
  border: 0;
  cursor: pointer;
  -moz-transition: background 0.2s;
  -o-transition: background 0.2s;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
}
/* line 128, ../sass/_base.scss */
button:hover, a.button:hover {
  background: #41586e;
}

/* line 6, ../sass/_layout.scss */
.header {
  background-color: #d2dde5;
  overflow: hidden;
  *zoom: 1;
}

/* line 11, ../sass/_layout.scss */
.top, .main, .footer {
  padding: 0 1rem;
}
@media (min-width: 1024px) {
  /* line 11, ../sass/_layout.scss */
  .top, .main, .footer {
    max-width: 1024px;
    margin: 0 auto;
  }
}

/* line 19, ../sass/_layout.scss */
.document-categories h2, .contribute h1, .latest-news h1, .events h1, .events h2 {
  padding: 0 1rem;
  margin-left: -1rem;
  margin-right: -1rem;
  margin-bottom: 1rem;
}

/* line 26, ../sass/_layout.scss */
.top {
  padding: 0;
}

/* line 31, ../sass/_layout.scss */
.main {
  margin-top: 1rem;
}

/* line 36, ../sass/_layout.scss */
.footer {
  margin-top: 1rem;
}

/* ===NAVIGATION=== */
/* line 44, ../sass/_layout.scss */
.nav-collapse {
  background-color: #d2dde5;
  *zoom: 1;
}
/* line 38, ../../../../../../../.gem/ruby/2.1.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/utilities/general/_clearfix.scss */
.nav-collapse:after {
  content: "";
  display: table;
  clear: both;
}
/* line 49, ../sass/_layout.scss */
.nav-collapse li a {
  padding: 0.5em 0.5em 1rem;
  display: block;
  background-color: #d2dde5;
  color: #155183;
  border-bottom: 1px solid white;
}
/* line 55, ../sass/_layout.scss */
.nav-collapse li a:before {
  font-size: 0.75em;
  padding-right: 0.5em;
}
@media (min-width: 40em) {
  /* line 49, ../sass/_layout.scss */
  .nav-collapse li a {
    float: left;
  }
}
/* line 67, ../sass/_layout.scss */
.nav-collapse li.active a {
  background-color: whitesmoke;
}
/* line 71, ../sass/_layout.scss */
.nav-collapse:before {
  clear: left;
}

/* line 76, ../sass/_layout.scss */
.header a {
  float: right;
  padding: 0.5rem;
  font-size: 3.2rem;
  color: #fff;
}
/* line 82, ../sass/_layout.scss */
.header a:hover {
  color: #155183;
}

/* line 87, ../sass/_layout.scss */
.header {
  background-color: #d2dde5;
}
/* line 90, ../sass/_layout.scss */
.header .icon-user, .header .icon-logout, .header .icon-login {
  width: 1em;
  height: 1em;
  position: relative;
  padding-left: 1em;
}
/* line 96, ../sass/_layout.scss */
.header .icon-user:before, .header .icon-logout:before, .header .icon-login:before {
  position: absolute;
  font-size: 0.75em;
  top: 0.325em;
  left: 0.1em;
}

/* line 105, ../sass/_layout.scss */
.document-categories h2, .contribute h1, .latest-news h1, .events h1, .events h2 {
  background-color: #d2dde5;
}

/* line 111, ../sass/_layout.scss */
.document, .document-category, .news, .event {
  margin-bottom: 1em;
  padding: 0.5em;
  background-color: #fff;
  -moz-box-shadow: 0 0 3px 2px #cccccc;
  -webkit-box-shadow: 0 0 3px 2px #cccccc;
  box-shadow: 0 0 3px 2px #cccccc;
}

/* ===AUTHOR===*/
/* line 5, ../sass/_modules.scss */
.author, a[rel="author"] {
  font-size: 1.1rem;
}

/* ===BRANDING=== */
/* line 18, ../sass/_modules.scss */
.branding {
  padding-left: 1rem;
  float: left;
}

/* ===DOCUMENT=== */
/* line 24, ../sass/_modules.scss */
.document {
  overflow: hidden;
  *zoom: 1;
}
/* line 10, ../sass/_modules.scss */
.document h3 {
  line-height: 1;
  margin-top: 1rem;
}
/* line 33, ../sass/_modules.scss */
.document .download {
  text-align: center;
}
/* line 37, ../sass/_modules.scss */
.document .download .thumbnail {
  height: 15rem;
  overflow: hidden;
}
/* line 41, ../sass/_modules.scss */
.document .download .thumbnail img {
  max-width: 100%;
}
/* line 44, ../sass/_modules.scss */
.document .download > a {
  font-family: "Droid Sans", sans-serif;
  color: #fff;
  padding: 0.75rem 1.5rem 0.75rem 4rem;
  line-height: 1.8rem;
  font-size: 1.6rem;
  font-weight: 700;
  display: block;
  min-height: 3.4rem;
  position: relative;
}
/* line 55, ../sass/_modules.scss */
.document .download > a > div {
  position: absolute;
  top: 0.2rem;
  left: 0.2rem;
  float: left;
  width: 3.2rem;
  height: 3.2rem;
}
/* line 64, ../sass/_modules.scss */
.document .download span.ficon-pdf {
  display: inline-block;
}
/* line 67, ../sass/_modules.scss */
.document .download > a.pdf {
  background-color: #ea4c3a;
}
@media (max-width: 620px) {
  /* line 76, ../sass/_modules.scss */
  .document .download {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
}
@media (min-width: 620px) {
  /* line 84, ../sass/_modules.scss */
  .document .details {
    width: 70%;
    float: left;
  }
  /* line 89, ../sass/_modules.scss */
  .document .download {
    margin-top: 0.3rem;
    float: right;
    width: 30%;
    max-width: 400px;
  }
  /* line 95, ../sass/_modules.scss */
  .document .download .thumbnail {
    height: 10rem;
  }
  /* line 99, ../sass/_modules.scss */
  .document .download > a {
    height: 3.2rem;
  }
  /* line 104, ../sass/_modules.scss */
  .document span.filename {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
    display: none;
    width: 55%;
  }
}
@media (min-width: 620px) and (min-width: 900px) {
  /* line 104, ../sass/_modules.scss */
  .document span.filename {
    display: block;
  }
}
@media (min-width: 620px) and (min-width: 1300px) {
  /* line 104, ../sass/_modules.scss */
  .document span.filename {
    width: 75%;
  }
}
@media (min-width: 620px) {
  /* line 120, ../sass/_modules.scss */
  .document span.filesize {
    display: block;
  }
}
@media (min-width: 620px) and (min-width: 900px) {
  /* line 120, ../sass/_modules.scss */
  .document span.filesize {
    float: left;
    display: block;
    width: 45%;
    text-align: left;
  }
}
@media (min-width: 620px) and (min-width: 1300px) {
  /* line 120, ../sass/_modules.scss */
  .document span.filesize {
    width: 25%;
  }
}

/* line 140, ../sass/_modules.scss */
.document .download-action.doc {
  background-color: #2b5796;
}
/* line 140, ../sass/_modules.scss */
.document .download-action.xls {
  background-color: #1e7145;
}
/* line 140, ../sass/_modules.scss */
.document .download-action.ppt {
  background-color: #d15a25;
}
/* line 140, ../sass/_modules.scss */
.document .download-action.other {
  background-color: #6b533b;
}
/* line 140, ../sass/_modules.scss */
.document .download-action.img {
  background-color: #5b2d8d;
}
/* line 140, ../sass/_modules.scss */
.document .download-action.pdf {
  background-color: #ea4c3a;
}
/* line 140, ../sass/_modules.scss */
.document .download-action.zip {
  background-color: #ff9408;
}

/* ===DOCUMENT CATEGORY=== */
/* line 154, ../sass/_modules.scss */
.document-category {
  overflow: hidden;
  *zoom: 1;
}
/* line 161, ../sass/_modules.scss */
.document-category .summary > a, .document-category .summary > a:visited {
  color: inherit;
}
/* line 164, ../sass/_modules.scss */
.document-category .abbreviation {
  margin-right: 0.5em;
}
/* line 166, ../sass/_modules.scss */
.document-category .summary {
  float: left;
  margin-left: 1em;
}
/* line 170, ../sass/_modules.scss */
.document-category .summary span {
  margin-right: 0.5em;
}
/* line 172, ../sass/_modules.scss */
.document-category .summary li {
  float: left;
  margin-right: 0.5rem;
}
/* line 178, ../sass/_modules.scss */
.document-category .lecturers {
  float: right;
}
/* line 181, ../sass/_modules.scss */
.document-category .lecturers > div a {
  background-color: #155183;
}
/* line 184, ../sass/_modules.scss */
.document-category .lecturers > div img {
  max-width: 100%;
}

/* ===SEARCH=== */
/* line 192, ../sass/_modules.scss */
.search-box {
  overflow: hidden;
  *zoom: 1;
  margin-bottom: 1em;
  width: 100%;
  max-width: 70rem;
}
/* line 198, ../sass/_modules.scss */
.search-box > input, .search-box > button {
  height: 2.5em;
}
/* line 200, ../sass/_modules.scss */
.search-box > input {
  float: left;
  width: 90%;
  padding: 0.25rem;
  background: #E1E5E8;
}
/* line 208, ../sass/_modules.scss */
.search-box > button {
  float: right;
  width: 10%;
  position: relative;
  padding: 0;
  margin-right: 0;
  color: #fff;
  background: #155183;
}
/* line 218, ../sass/_modules.scss */
.search-box > button:before {
  content: '';
  position: absolute;
  border-width: 8px 8px 8px 0;
  border-style: solid solid solid none;
  border-color: transparent #155183 transparent;
  top: 0.75em;
  left: -0.4em;
}

/* ===BIG DATE=== */
/* line 234, ../sass/_modules.scss */
.date {
  position: absolute;
  float: left;
}
/* line 238, ../sass/_modules.scss */
.date .day, .date .month {
  font-family: "Droid Sans", sans-serif;
  display: block;
  line-height: 1;
}
/* line 244, ../sass/_modules.scss */
.date .day {
  margin-top: 0.75rem;
  font-size: 3.5rem;
  color: #7194ad;
}
/* line 250, ../sass/_modules.scss */
.date .month {
  margin-left: 0.25rem;
  font-size: 2rem;
  color: #91acc0;
}
/* line 256, ../sass/_modules.scss */
.date .year {
  margin-left: 0.25rem;
  font-size: 1.1rem;
  color: #b2c5d2;
}

/* ===CONTRIBUTE=== */
/* ===LIST CARDS=== */
/* line 269, ../sass/_modules.scss */
.news, .event {
  *zoom: 1;
  margin-top: 1em;
  padding: 0.5rem;
  min-height: 4em;
  position: relative;
  padding-bottom: 0.4em;
  border-bottom: 1px #d2dde5;
  border-left: 0.5rem solid transparent;
}
/* line 38, ../../../../../../../.gem/ruby/2.1.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/utilities/general/_clearfix.scss */
.news:after, .event:after {
  content: "";
  display: table;
  clear: both;
}
/* line 280, ../sass/_modules.scss */
.news:hover, .event:hover {
  border-left: 0.5rem solid #155183;
}
/* line 284, ../sass/_modules.scss */
.news .summary, .event .summary {
  margin-left: 4em;
  float: left;
}

/* ===NEWS=== */
/* line 295, ../sass/_modules.scss */
.news {
  min-height: 9.5rem;
}

/* ===EVENTS=== */
/* line 10, ../sass/_modules.scss */
.event h3 {
  line-height: 1;
  margin-top: 1rem;
}

/* ===LABELS=== */
/* line 329, ../sass/_modules.scss */
.label, .label-license, .label-summary, .label-exam, .label-other, .label-extension, .label-pdf, .label-github, .label-flattr {
  display: inline;
  padding: .2em .6em .3em;
  font-family: "Droid Sans", sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 1;
  margin-right: 0.5rem;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #155183;
  -moz-border-radius: 0.1em;
  -webkit-border-radius: 0.1em;
  border-radius: 0.1em;
}

/* line 345, ../sass/_modules.scss */
.label-license {
  background-color: #f0ad4e;
}

/* line 350, ../sass/_modules.scss */
.label-summary {
  background-color: #5cb870;
}

/* line 355, ../sass/_modules.scss */
.label-exam {
  background-color: #428bca;
}

/* line 360, ../sass/_modules.scss */
.label-other {
  background-color: #5bc0de;
}

/* line 365, ../sass/_modules.scss */
.label-extension {
  text-transform: uppercase;
}

/* line 370, ../sass/_modules.scss */
.label-pdf {
  background-color: #ea4c3a;
  text-transform: uppercase;
}

/* line 376, ../sass/_modules.scss */
.label-github {
  position: relative;
  padding-left: 1.8rem;
  background-color: #302F2F;
}
/* line 320, ../sass/_modules.scss */
.label-github:before {
  position: absolute;
  font-size: 1.5rem;
  top: 0.1rem;
  left: 0.2rem;
}

/* line 382, ../sass/_modules.scss */
.label-flattr {
  position: relative;
  padding-left: 1.8rem;
  background-color: #89b058;
}
/* line 320, ../sass/_modules.scss */
.label-flattr:before {
  position: absolute;
  font-size: 1.5rem;
  top: 0.1rem;
  left: 0.2rem;
}
