body {
    padding-top: 75px;
}

.lecturer img {
    width: 120px;
    height: 160px;
}

.lecturer {
    margin-bottom: 20px;
}

table#documents .uploaddata_details {
    font-style: italic;
}

ul.blacklist li {
    color: #404040;
}

form li {
    list-style-type: none;
}

form.noindent {
    padding-left: 0;
}

form.noindent .errorlist {
    margin: 0;
}

form .fieldWrapper {
    padding-bottom: 12px;
}

.label a {
    color: white;
}

.label a:hover {
    text-decoration: none;
}

footer {
    color: grey;
    font-style: italic;
}


/* Specific pages */

body.lecturer_list .lecturer .thumbnail {
    display: inline-block;
}

body.lecturer_list #letters {
    margin-top: 10px;
    margin-bottom: 30px;
}

body.lecturer_detail #rate li {
    line-height: 24px;
}

body.lecturer_detail #rate li p {
    display: inline-block;
    width: 100px;
}

body.lecturer_detail #rate li div {
    display: inline-block;
}

body.lecturer_detail #rate li div img {
    vertical-align: middle;
}

body.document_list .titlerow h4,
body.document_list .titlerow p {
    display: inline-block;
}


/* General classes */

.floatleft { float: left; }
.floatright { float: right; }
.clearleft { clear: left; } 
.clearright { clear: right; }
.clearboth { clear: both; }
.limitwidth { max-width: 700px; }
