body {
    margin-top: 40px;
}

#header {
    text-align: center;
    border-bottom: 2px solid blue;
    padding: 20px 0;
    margin: 0;
}

#navigation {
    margin-top: 10px;
}

#content {
    margin-top: 10px;
}

#footer {
    border-top: 2px solid green;
    margin: 0;
}

ul.navigation {
    list-style-type: none;
    margin-left: 0;
}

ul.navigation a {
    display: inline-block;
    padding: 5px 0 10px;
    font-size: 1.3em;
}

ul.navigation li.active a {
    font-weight: bold;
}

form input[type=text], form input[type=password] {
    height: 28px;
}

.lecturer img {
    width: 120px;
    height: 160px;
}

.lecturer {
    margin-bottom: 20px;
}

table#documents .uploaddata_details {
    font-style: italic;
}

ul.blacklist li {
    color: #404040;
}

form li {
    list-style-type: none;
}

form.noleftpadding {
    padding-left: 0;
}

form .fieldWrapper {
    padding-bottom: 12px;
}
