body {
    padding-top: 40px;
}

#header {
    text-align: center;
    border-bottom: 2px solid blue;
    padding: 20px 0;
    margin: 0;
}

#navigation {
    margin-top: 10px;
}

#content {
    margin-top: 10px;
}

#footer {
    border-top: 2px solid green;
    margin: 0;
}

.lecturer img {
    width: 120px;
    height: 160px;
}

.lecturer {
    margin-bottom: 20px;
}

table#documents .uploaddata_details {
    font-style: italic;
}

ul.blacklist li {
    color: #404040;
}

form li {
    list-style-type: none;
}

form.noindent {
    padding-left: 0;
}

form.noindent .errorlist {
    margin: 0;
}

form .fieldWrapper {
    padding-bottom: 12px;
}


/* Specific pages */

body.lecturer_list .lecturer .thumbnail {
    display: inline-block;
}


/* General classes */

.floatleft {
    float: left;
}

.floatright {
    float: right;
}

.clearleft {
    clear: left;
}

.clearright {
    clear: right;
}

.clearboth {
    clear: both;
}
