@media (min-width: 980px) {
    body {
        padding-top: 62px;
    }
}

.nav li {
  padding: 0
}

.nav li a {
  display: block;
  padding: 4px 10px 4px;
}


#lecturers .list div {
    margin-bottom: 20px;
    min-width: 200px;
    float: left;
}
#lecturers .list div img {
    width: 120px;
    height: 160px;
}


table#documents .uploaddata_details {
    font-style: italic;
}
table#documents .drating {
    margin-right: 1em;
}
.others a {
    margin-right: 1.5em;
}

table#documents th.name {
    width: 70%;
}
table#documents th.download {
    width: 20%;
}
table#documents th.admin {
    width: 10%;
}

ul.blacklist li {
    color: #404040;
}

form li {
    list-style-type: none;
}

form.noindent {
    padding-left: 0;
}

form.noindent .errorlist {
    margin: 0;
}

form .fieldWrapper {
    padding-bottom: 12px;
}

.label {
    display: inline-block;
    *display: inline; /* for IE7*/
    *zoom: 1; /* for IE7*/
    min-width: 1.2em;
    line-height: 1em;
    text-align: center;
}
.label a {
    color: white;
}

.label a:hover {
    text-decoration: none;
}

footer {
    color: grey;
    font-style: italic;
}

.ui-widget {
    font-size: 8.5pt;
}


/* Specific pages */

body.lecturer_list .lecturer .thumbnail {
    display: inline-block;
}

body.lecturer_list #letters {
    margin-top: 10px;
    margin-bottom: 30px;
}

body.lecturer_detail #rate li {
    line-height: 24px;
    list-style: none;
}

body.lecturer_detail #rate li span.label {
    margin-right: 0.5em;

}
body.lecturer_detail #rate li p {
    display: inline-block;
    width: 100px;
}

body.lecturer_detail #rate li div {
    display: inline-block;
}

body.lecturer_detail #rate li div img {
    vertical-align: middle;
}

body.document_list .titlerow h4,
body.document_list .titlerow p {
    display: inline-block;
}

body.documentcategory_list tr.empty a {
    opacity: 0.4;
}


/* Vote buttons */

.votebuttons {
    text-align: center;
    width: 20px;
}
.votebuttons div {
    height: 8px;
    width: 15px;
    margin: 0px auto;
    background-image: url('/static/img/vote_sprites.png');
}
.votebuttons div:hover {
    cursor: pointer;
    cursor: hand;
}
.upvote {
    background-position: 0 0;
}
.upvote:hover {
    background-position: 32px 0;
}
.upvote.active {
    background-position: 15px 0;
}
.downvote {
    background-position: 0 8px;
}
.downvote:hover {
    background-position: 32px 8px;
}
.downvote.active {
    background-position: 15px 8px;
}


/* General classes */

.floatleft { float: left; }
.floatright { float: right; }
.clearleft { clear: left; }
.clearright { clear: right; }
.clearboth { clear: both; }
.limitwidth { max-width: 700px; }


/* VSHSR CI */

a {
    color: #0381E2;
}
.btn-primary {
    background-image: -moz-linear-gradient(top, #0381E2, #0044cc);
    background-image: -ms-linear-gradient(top, #0381E2, #0044cc);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0381E2), to(#0044cc));
    background-image: -webkit-linear-gradient(top, #0381E2, #0044cc);
    background-image: -o-linear-gradient(top, #0381E2, #0044cc);
    background-image: linear-gradient(top, #0381E2, #0044cc);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0381E2', endColorstr='#0044cc', GradientType=0);
}
.dropdown-menu li > a:hover,
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover,
.nav-list .active > a,
.nav-list .active > a:hover,
.nav-pills .active > a,
.nav-pills .active > a:hover {
    background-color: #0381E2;
}
.nav-tabs .dropdown-toggle .caret,
.nav-pills .dropdown-toggle .caret {
    border-top-color: #0381E2;
}
a.thumbnail:hover {
    border-color: #0381E2;
}

.lecturer_list #lecturers,
.documentcategory_list #modules {
    margin-top:3em;
}

.table .sort {
    background-image: url('/static/img/sort.gif');
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}
.table .sort.asc {
    background-image: url('/static/img/sort_asc.gif');
}
.table .sort.desc {
    background-image: url('/static/img/sort_desc.gif');
}
