# Base system
Django==4.1.2
psycopg2==2.9.3
python-dateutil==2.8.2

# Useful/important apps
django-messagegroups==0.4.5
django-registration-redux==2.11
django-downloadview==2.3.0
django-model-utils==4.2.0
django_compressor==4.1
django-mathfilters==1.0.0
easy-thumbnails==2.8.3
pyScss==1.4.0

# Parsing
beautifulsoup4==4.11.1

# Calendar
vobject==0.9.6.1

# API
djangorestframework==3.13.1
