# Base system
Django==5.1.15
psycopg2==2.9.12
python-dateutil==2.9.0

# Useful/important apps
django-messagegroups==0.4.5
django-registration-redux==2.13
django-downloadview==2.5.0
django-model-utils==5.0.0
django-compressor==4.6.0
django-mathfilters==1.0.0
easy-thumbnails==2.10.1
pyScss==1.4.0
markdown==3.10.2

# Parsing
beautifulsoup4==4.15.0

# Calendar
vobject==0.9.9

# API
djangorestframework==3.17.1
