@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);
@import "compass/css3/transition";
@import "compass/css3/background-size";

/* ===TYPOGRAPHY=== */
html {
  //Make the old sizing trick
  //All other sizes will use rem to refer to this measure
  //http://snook.ca/archives/html_and_css/font-size-with-rem
  font-size: 62.5%;
}

body {
    background: $color-white-smoke;
    font-size: 1.4rem;
    line-height: 2rem;
    font-family: $font-text;
    color: #333;
}

h1, h2, h3, h4, h5, h6, nav a {
    font-family: $font-title;
}

h1 {
  font-size: 3.2rem;
  font-weight: 400;
  color: $color-midnight-blue;
  line-height: 1.3 * 3.2rem;
}

h2 {
  font-size: 2.8rem;
  line-height: 1.3 * 2.8rem;
}

h3 {
  font-size: 2rem;
  line-height: 1.3 * 2rem;
}

h4 {
  font-size: 1.6rem;
  line-height: round(1.3 * 1.6rem);
}

em, strong {
    font-weight: 700;
}

p {
    margin: 0 auto 0.5em;
}

hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  margin: $gutter 0 1.5 * $gutter;
  height: 0;
}

/* ===LINKS=== */

a {
  color: $color-midnight-blue;
  text-decoration: none;
  outline: 0;
}
a:hover, a:focus { color: $color-blue-fiord; }


/* ===FORMS=== */
form, fieldset { margin-bottom: $gutter; }

input {
  margin-top: 1rem;
  width: 100%;
  outline: none;
  padding: 0.75rem 1.5rem;
  border: 2px solid $color-gray;
  @include transition(border-color, 0.3s);

  &:focus {
    border-color: $color-blue-fiord;
  }
}

.note {
  margin-top: 0.5rem;
  font-size: 1.1rem;
  line-height: 1.5rem;
  color: #999;
}

//Addon functionality like in bootstrap
label.input {
  position: relative;

  .add-on {
    color: #aaa;
    top: 5px;
    right: 5px;
    width: 100px;

    position: absolute;
    padding-left: 0.25rem;
    border-left-width: 1px;
    border-left: 1px solid $color-gray;
  }
}

button.light, a.button.light {
  background-color: darken($color-gray, 20%);

  &:hover {
    color: #fff;
    background-color: darken($color-gray, 30%);
  }
}

button, a.button {
  display: inline-block;
  margin: $gutter;
  margin-left: 0;
  color: #fff;
  background-color: $color-midnight-blue;
  padding: 0.75rem 1.5rem;
  border: 0;
  cursor: pointer;
  @include transition(background 0.2s);

  &:hover {
    background: $color-blue-fiord;
  }
}

