@import "compass";
@import "compass/utilities/general/clearfix";
@import "compass/css3";

/* ===LAYOUT MIXINS=== */

%box {
    padding: $gutter;
    margin-bottom: $gutter;
    background-color: #fff;
    @include box-shadow(0 0 3px 2px #ccc);
}

@media (min-width: 64.375rem) {
    .header, .main, .footer {
        max-width: 103rem;
        margin: 0 auto;
    }
}

.header, .main, .footer {
    padding: 0 $gutter;
}

%responsive-padding {
    padding: 0 $gutter;
    margin-left: -$gutter;
    margin-right: -$gutter;
    margin-bottom: $gutter;
}


/* ===LAYOUT STRUCTURE=== */

body {

}

//The whole top part of the website includes the header as well
.top {
    padding: 0;
    background-image: url('../../img/hsr@2x.jpg');
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
    //Height cannot be fixed because the navigation needs space to flex
    min-height: 25rem;
}

.header {
    @include clearfix;
    @extend %wrapper;
}

.main {
    @extend %wrapper;
    margin-top: $gutter;
}

.footer {
    @extend %wrapper;
    margin-top: 3*$gutter;
    margin-bottom: $gutter;
}

/* ===HEADER=== */
.header {
    padding: $gutter;
    background-color: $color-header-background;

    .branding {
        float: left;
        padding-right: $gutter;
        h1 {
            color: $color-branding;
        }
    }

    @media (max-width: 46em) {
        padding: $gutter/2 0;
        .branding {
            padding-left: $gutter/2;
            padding-right: 0;
        }
    }

    .header-actions {
        @include pie-clearfix;

        //Special links like user home or login/logout
        > a {
            float: right;
            padding: $gutter/2;
            font-size: 3.2rem;
            color: $color-header-link;

            &:hover {
                color: $color-header-link-hover;
            }
        }

        .login-button {
            display: block;
        }

        @media (min-width: 46em) {
            float: right;

            //By making the header actions float to left
            //the account link and logout link will swap places
            > a {
                float: left;
                margin-left: $gutter/2;
            }
        }
    }

    //iPhones have a very small width so the header size should adapt to it
    @media (max-width: 33rem) {
        .branding h1 {
            font-size: 2.7rem;
            line-height: 1.3 * 2.7rem;
        }
        .header-actions > a {
            font-size: 2.7rem;
        }
        .icon-logout:before, .icon-login:before, .icon-user:before {
            top: 0.35em;
        }
    }
}

/* ===NAVIGATION=== */
.nav-collapse {
    background-color: $color-navigation-background;
    @include pie-clearfix;

    li {
        margin: 0;
        padding: 0;

        a {
            font-size: $font-size-browser;
            padding: $gutter 0.75rem;
            display: block;
            background-color: $color-navigation-background;
            color: $color-navigation-link;

            &:before {
                font-size: 0.75em;
                padding-right: 0.5em;
            }

            @media (min-width: 46em) {
                float: left;
            }
        }
    }

    li.active a {
        background-color: $color-navigation-background-active;
    }

    &:before {
        clear: left;
    }
}
