@import "compass";
@import "susy";
@import "compass/utilities/general/clearfix";
@import "compass/css3";

.header {
    background-color: $color-cornflower-blue;
    @include clearfix;
}

%wrapper {
    padding: 0 $gutter;
    @media (min-width: 1024px) {
        max-width: 1024px;
        margin: 0 auto;
    }
}

%responsive-padding {
    padding: 0 $gutter;
    margin-left: -$gutter;
    margin-right: -$gutter;
    margin-bottom: $gutter;
}

.top {
    @extend %wrapper;
    padding: 0;
}

.main {
    @extend %wrapper;
    margin-top: $gutter;
}

.footer {
    @extend %wrapper;
    margin-top: $gutter;
}


/* ===NAVIGATION=== */

.nav-collapse {
    background-color: $color-cornflower-blue;
    @include pie-clearfix;

    li {
        a {
            padding: 0.5em 0.5em $gutter;
            display: block;
            background-color: $color-cornflower-blue;
            color: $color-midnight-blue;
            border-bottom: 1px solid $color-white;
            &:before {
                font-size: 0.75em;
                padding-right: 0.5em;
            }

            @media (min-width: 40em) {
                float: left;
            }
        }
    }


    li.active a {
        background-color: $color-white-smoke;
    }

    &:before {
        clear: left;
    }
}

.header a {
    float: right;
    padding: 0.5rem;
    font-size: 3.2rem;
    color: #fff;

    &:hover {
        color: $color-midnight-blue;
    }
}

.header {
    background-color: $color-cornflower-blue;

    .icon-user, .icon-logout, .icon-login {
        width: 1em;
        height: 1em;
        position: relative;
        padding-left: 1em;

        &:before {
            position: absolute;
            font-size: 0.75em;
            top: 0.325em;
            left: 0.1em;
        }
    }
}

%crossbar {
    //Pull back one em to compensate padding to enablefull header bg color
    @extend %responsive-padding;
    background-color: $color-cornflower-blue;
}

%box {
    margin-bottom: 1em;
    padding: $gutter;
    background-color: #fff;
    @include box-shadow(0 0 3px 2px #cccccc);
}
