@charset "utf-8";

@import "compass";
@import "compass/utilities/general/clearfix";
@import "compass/css3";

@import "reset";

/* ===LAYOUT MIXINS=== */
%box {
    padding: $gutter;
    margin-bottom: $gutter;
    background-color: #fff;
    @include box-shadow(0 0 3px 2px #ccc);
}

@media (min-width: 64.375rem) {
    header, .main, footer {
        max-width: 130rem;
        margin: 0 auto;
    }
}

.main, footer {
    padding: 0 $gutter;
}

/* ===LAYOUT STRUCTURE=== */

// The whole top part of the website includes the header as well
.top {
    background-image: url('../../img/hsr@2x.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    // Height cannot be fixed because the navigation needs space to flex
    min-height: 25rem;
    border-bottom: 0.5rem $color-header-link solid;
}

.main {
    margin-top: $gutter;
}

/* ===HEADER=== */
.header {
    background-color: $color-header-background;
    display: flex;
    flex-direction: column;

    > .branding {
        align-self: center;
        margin: 1rem auto 1rem auto;
    }
}

/* ===FOOTER=== */
footer {
    margin-top: 3 * $gutter;
    display: flex;
    flex-direction: column;

    > :first-child {
        margin-bottom: $gutter;
    }

    .main-sponsor-logo img {
        height: 1.5em;
    }
}

/* ===NAVIGATION=== */
@mixin active-nav-item() {
    background-color: $color-header-link;

    > a {
        color: white;
    }
}

nav {
    font-size: 0; // fix against spaces between inline elements
    display: flex;
    flex: 0 1 100%;

    flex-wrap: wrap;
    flex-direction: column;

    > ul > li {
        height: 5rem;
        white-space: nowrap;
        padding-left: 2rem; // Reset from base

        display: flex;
        align-items: center;
        justify-content: flex-start;

        > a {
            font-size: 1.25 * $font-size-base;
            display: inline-block;
        }

        &:hover {
            @include active-nav-item();
        }
    }

    > ul > li.active {
        @include active-nav-item();
    }
}

@media all and (min-width: 1080px) {
    .header {
        flex-direction: row;

        > .branding {
            margin: auto 2rem;
        }
    }

    nav > ul > li {
        position: relative;
        display: inline-block;
        height: 7rem;
        padding: 0 2rem;

        > a {
            line-height: 7rem;
        }
    }

    footer {
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;

        > :first-child {
            margin-bottom: 0;
        }
    }
}

// Show if the application is running in development mode
.is-dev-environment > * {
  color: red !important;
}
