@import "compass/css3/flexbox";
@import "compass/css3/images";

/* ===AUTHOR===*/
.author, a[rel="author"] { font-size: 1.1rem; }

//Set h3 to normal lineheight and pull it down 1rem
//so that the author can be placed right below it
@mixin adapt-heading-to-author {
    h3 {
        line-height: 1;
        margin-top: 1rem;
    }
}

/* ===BRANDING=== */

.branding {
    padding-left: $gutter;
    float: left;
}

/* ===DOCUMENT=== */
.document {
    @include clearfix;
    @include adapt-heading-to-author;
    @extend %box;

    //Float so that the document rating sumamry appears on the right
    .drating {
    }

    .download {
        text-align: center;


        .thumbnail {

            height: 15rem;
            overflow: hidden;
            img { max-width: 100%; }
        }

        > a {
            font-family: "Droid Sans", sans-serif;
            color: #fff;
            padding: 0.75rem 1.5rem 0.75rem 4rem;
            line-height: 3.3rem - 2 * 0.75rem;
            font-size: 1.6rem;
            font-weight: 700;
            display: block;
            min-height: 3.4rem;
            position: relative;

            > div {
                position: absolute;
                top: 0.2rem;
                left: 0.2rem;
                float: left;
                width: 3.2rem;
                height: 3.2rem;
            }
        }
        span.ficon-pdf {
                display: inline-block;
        }
        > a.pdf {
            background-color: $color-pdf;
        }
    }

    //This is a flexbox "hack" so that the image appears above the button on mobile view
    //We cannot solve this by rearranging the html because we want the button
    //to appear above the thumbnail on bigger screens
    @media (max-width: 620px) {
        .download {
            @include display-flex();
            @include flex-direction(column-reverse);
        }
    }

    //Expand to bigger layout when space allows it
    @media (min-width: 620px) {
        .details {
            width: 70%;
            float: left;
        }

        .download {
            margin-top: 0.3rem;
            float: right;
            width: 30%;
            max-width: 400px;

            .thumbnail {
                height: 10rem;
            }

            > a {
                height: 3.2rem;
            }
        }

        span.filename {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            float: left;
            display: none;
            width: 55%;

            @media (min-width: 900px) {
                display: block;
            }

            @media (min-width: 1300px) {
                width: 75%;
            }
        }
        span.filesize {
            display: block;

            @media (min-width: 900px) {
                float: left;
                display: block;
                width: 45%;
                text-align: left;
            }

            @media (min-width: 1300px) {
                width: 25%;
            }
        }

    }



    @each $ext, $color in $color-filetypes {
        .download-action.#{$ext} {
            background-color: $color;
        }
    }


}


/* ===DOCUMENT CATEGORY=== */
.document-categories {
    h2 { @extend %crossbar; }
}

.document-category {
    @include clearfix;
    @extend %box;

    //Otherwise the color of the link would override the color
    //ot the heading
    .summary {
        > a, > a:visited { color: inherit; }
    }

    .abbreviation { margin-right: 0.5em; }

    .summary {
        float: left;
        margin-left: 1em;

        span { margin-right: 0.5em; }

        li {
            float: left;
            margin-right: $gutter/2;
        }
    }

    .lecturers {
        float: right;
        > div {
            a {
                background-color: $color-midnight-blue;
            }
            img { max-width: 100%; }
        }
    }
}

/* ===SEARCH=== */
// Built after http://codepen.io/Siwicki/details/FHkwu

.search-box {
    @include clearfix;
    margin-bottom: 1em;
    width: 100%;
    max-width: 70rem; //The search button looks ugly if it's too big

    > input, > button { height: 2.5em; }

    > input {
        float: left;
        width: 90%;
        padding: 0.25rem;

        background: #E1E5E8;
    }

    > button {
        float: right;
        width: 10%;
        position: relative;
        padding: 0;
        margin-right: 0; //Override default right margin on buttons

        color: #fff;
        background: #155183;

        &:before {
            content: '';
            position: absolute;
            border-width: 8px 8px 8px 0;
            border-style: solid solid solid none;
            border-color: transparent #155183 transparent;
            top: 0.75em;
            left: -0.4em;
        }
    }
}

/* ===BIG DATE=== */
// The look was inspired by http://dribbble.com/shots/351931-List-of-events-for-something
// Please note that when using the date the container has
// to use a relative position and clear afterwards
.date {
    position: absolute;
    float: left;

    .day, .month {
        font-family: $font-title;
        display: block;
        line-height: 1;
    }

    .day {
        margin-top: 0.75rem;
        font-size: 3.5rem;
        color: darken($color-gray, 30%);
    }

    .month {
        margin-left: 0.25rem;
        font-size: 2rem;
        color: darken($color-gray, 20%);
    }

    .year {
        margin-left: 0.25rem;
        font-size: 1.1rem;
        color: darken($color-gray, 10%);
    }
}

/* ===CONTRIBUTE=== */
.contribute {
    h1 { @extend %crossbar; }
}

/* ===LIST CARDS=== */
%list-card {
    @include pie-clearfix;
    margin-top: 1em;
    //Use only half padding because border reserves already
    padding: 0.5rem;
    min-height: 4em;
    position: relative;
    padding-bottom: 0.4em;
    border-bottom: 1px $color-gray;
    border-left: 0.5rem solid transparent;

    &:hover {
        border-left: 0.5rem solid $color-midnight-blue;
    }

    .summary {
        margin-left: 4em;
        float: left;
    }
}

/* ===NEWS=== */
.latest-news {
    h1 { @extend %crossbar; }
}

.news {
    @extend %box;
    @extend %list-card;
    min-height: 9.5rem;
}


/* ===EVENTS=== */
.events {
    h1, h2 { @extend %crossbar; }
}

.event {
    @extend %box;
    @extend %list-card;
    @include adapt-heading-to-author;
}

/* ===LECTURERS=== */
#lecturers {
    @include pie-clearfix;
}

.lecturer {
    @extend %box;
    float: left;
    margin-right: 2*$gutter;
    width: 18rem;

    img { width: 100%; }
}


/* ===LABELS=== */
// Bootstrap like labels for the different fields of study

@mixin fix-icon-position-in-label {
    position: relative;
    padding-left: 1.8rem;

    &:before {
        position: absolute;
        font-size: 1.5rem;
        top: 0.1rem;
        left: 0.2rem;
    }
}


.label {
    display: inline;
    padding: .2em .6em .3em;
    font-family: $font-title;
    font-size: 1.1rem;
    font-weight: 700;
    line-height: 1;
    margin-right: 0.5rem;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: $color-midnight-blue;
    @include border-radius(.1em);
}

.label-license {
    @extend .label;
    background-color: $color-sandy-brown;
}

.label-summary {
    @extend .label;
    background-color: $color-fern;
}

.label-exam {
    @extend .label;
    background-color: #428bca;
}

.label-other {
    @extend .label;
    background-color: #5bc0de;
}

.label-extension {
    @extend .label;
    text-transform: uppercase;
}

.label-pdf {
    @extend .label;
    background-color: $color-pdf;
    text-transform: uppercase;
}

.label-github {
    @extend .label;
    @include fix-icon-position-in-label;
    background-color: #302F2F;
}

.label-flattr {
    @extend .label;
    @include fix-icon-position-in-label;
    background-color: #89b058;
}

.label-didactic {
    @extend .label;
    background-color: #f0ad4e;
}

.label-humanly {
    @extend .label;
    background-color: #428bca;
}

.label-technical {
    @extend .label;
    background-color: $color-fern;
}

$courses: (
  e: #5CB870,
  i: #f0ad4e,
  m: #428bca,
  mi:#428bca,
  b: #AEB870,
  eeu: #f0ad4e,
  wing: #5CB870,
  r: #5CB870,
  l: #5bc0de
);

@each $course, $color in $courses {
    .label-#{$course} {
        @extend .label;
        background-color: $color;
    }
}
