{% load assets %}
{% load tabs %}
{% load messagegroups %}
{% load url from future %}
<html>

<head>
    <title>HSR Studentenportal - {% block title %}Willkommen{% endblock %}</title>
    {% assets 'stylesheets' %}<link rel="stylesheet" href="{{ ASSET_URL }}" />{% endassets %}
    {% assets 'scripts' %}<script src="{{ ASSET_URL }}"></script>{% endassets %}
</head>

<body>
    <div class="topbar">
        <div class="topbar-inner">
            <div class="container">
                <a class="brand" href="#">HSR Studentenportal</a>
                <ul class="nav secondary-nav">
                    {% if not user.is_authenticated %} <li><a href="{% url 'login' %}">Login</a></li> {% endif %}
                    {% if user.is_authenticated %} <li><a href="{% url 'logout' %}">[{{ user.username }}] Logout</a></li> {% endif %}
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="span16" id="header">
            <h1>Studentenportal 2.0</h1>
        </div>
        <div class="row">
            <div class="span4" id="navigation">
                {% block navigation %}
                    <ul class="navigation">
                        <li class="{% ifactivetab 'navigation' 'home' %}active{% endifactivetab %}">
                            <a href="{% url 'home' %}">Home</a>
                        </li>
                        <li class="{% ifactivetab 'navigation' 'events' %}active{% endifactivetab %}">
                            <a href="{% url 'event_list' %}">Events</a>
                        </li>
                        <li class="{% ifactivetab 'navigation' 'tipps' %}active{% endifactivetab %}">
                            <a href="{% url 'tips' %}">Tipps zum Studium</a>
                        </li>
                        <li class="{% ifactivetab 'navigation' 'suche' %}active{% endifactivetab %}">
                            <a href="#">Suche / Biete</a>
                        </li>
                        <li class="{% ifactivetab 'navigation' 'zusammenfassungen' %}active{% endifactivetab %}">
                            <a href="{% url 'document_categories' %}">Zusammenfassungen</a>
                        </li>
                        <li>
                            <hr>
                        </li>
                        <li class="{% ifactivetab 'navigation' 'dozenten' %}active{% endifactivetab %}">
                            <a href="{% url 'lecturers' %}">Dozenten</a>
                        </li>
                    </ul>
                {% endblock %}
            </div>
            <div class="span12" id="content">
                {% render_messages messages %}
                <section id="breadcrumbs">{% block breadcrumbs %}{% endblock %}</section>
                {% block content %}{% endblock %}
            </div>
        </div>
        <div class="span16" id="footer">
            Footer. Powered by Django.
        </div>
    </div>
</body>
