{% extends 'base.html' %}
{% load url from future %}
{% load tabs %}
{% load tags %}

{% block title %}Zusammenfassungen{% endblock %}

{% block navigation %}
    {% activetab 'navigation' 'documents' %}
    {{ block.super }}
{% endblock %}

{% block content %}

    <h2>Zusammenfassungen</h2>
    
    <p>Hier finden sich Zusammenfassungen des Unterrichtsstoffes und Lernhilfen für die Prüfungen.</p>

    {% if object_list %}
        <table id="documents" class="zebra-striped">
            <tr>
                <th>Name</th>
                <th>Download</th>
            </tr>
            {% for doc in object_list %}
                <tr>
                    <td>
                        <h4>{{ doc.name }}</h4>
                        {% if doc.description %}<p>{{ doc.description|urlize }}</p>{% endif %}
                        <p class="uploaddata_details">Hochgeladen von {{ doc.uploader.name }} am {{ doc.upload_date }}</p>
                    </td>
                    <td><a href="{{ doc.document.url }}" class="file-{{ doc.fileext }}">{{ doc.filename }}</a> ({{ doc.document.size|filesizeformat }})</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>Leider gibt es in dieser Kategorie jedoch noch keine Uploads.</p>
    {% endif %}
    
{% endblock %}
