{% extends 'base.html' %}
{% load tabs %}
{% load url from future %}

{% block content %}
    <h2>Benutzerprofil "{{ user.username }}"</h2>

    <form method="post" action="{% url 'profil' %}">
        {% csrf_token %}
            <div class="clearfix">
                <label>E-Mail</label>
                <div class="input">
                    <span class="uneditable-input">{{ user.email }}</span>
                </div>
            </div>
            
            <input type="submit" value="änderungen speichern" class="btn">
            <input type="hidden" name="next" value="{{ next }}">
    </form>
{% endblock %}
