/* ===STAR RATER=== */
// http://rog.ie/blog/css-star-rater

.star-rating {
    font-size:0;
    white-space:nowrap;
    display:inline-block;
    height:3rem;
    width:10*3rem;
    vertical-align: top;
    overflow:hidden;
    position:relative;
    background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjREREREREIiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
    background-size: contain;

    input{
        -moz-appearance:none;
        -webkit-appearance:none;
        opacity: 0;
        display:inline-block;
        width: 10%;
        height: 100%;
        margin:0;
        padding:0;
        z-index: 2;
        position: relative;

        &:hover + i, &:checked + i{
            opacity:1;
        }
    }

    i {
        opacity: 0;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 10%;
        z-index: 1;
        background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjRkZERjg4IiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
        background-size: contain;
    }

    i ~ i {
        width: 20%;
    }
    i ~ i ~ i {
        width: 30%;
    }
    i ~ i ~ i ~ i {
        width: 40%;
    }
    i ~ i ~ i ~ i ~ i {
        width: 50%;
    }
    i ~ i ~ i ~ i ~ i ~ i {
        width: 60%;
    }
    i ~ i ~ i ~ i ~ i ~ i ~ i {
        width: 70%;
    }
    i ~ i ~ i ~ i ~ i ~ i ~ i ~ i {
        width: 80%;
    }
    i ~ i ~ i ~ i ~ i ~ i ~ i ~ i ~ i {
        width: 90%;
    }
    i ~ i ~ i ~ i ~ i ~ i ~ i ~ i ~ i ~ i {
        width: 100%;
    }
}
