{% extends 'base.html' %}
{% load tabs %}

{% block title %}{% if object %}Tipp bearbeiten{% else %}Tipp hinzufügen{% endif %}{% endblock %}

{% block navigation %}
    {% activetab 'navigation' 'tipps' %}
    {{ block.super }}
{% endblock %}

{% block content %}
    <div class="page-header" style="margin-bottom: 1.5em;">
        <h1>{% if object %}Tipp bearbeiten{% else %}Tipp hinzufügen{% endif %}</h1>
    </div>

    <form method="POST" class="form-horizontal" id="tipp-form">{% csrf_token %}
        {% include 'lib/form_loop.html' %}
        <div class="form-actions">
            <button type="submit" class="button button-primary">{% if object %}Speichern{% else %}Eintragen{% endif %}</button>
            <a href="{% url 'tipps:tipp_list' %}" class="button">Abbrechen</a>
        </div>
    </form>

    {% include 'lib/markdown_editor.html' with form_id='tipp-form' %}
{% endblock %}
